+b.gallery-work
  +e.inner.inner
    +e.H1.title Галерея работ
    +b.gallery-work-nav
      +e.line
        +e.row
          +e.A.link.active(href="#") Все работы
          +e.A.link(href="#") Кофейные модули
          +e.A.link(href="#") Барные стойки
          +e.A.link(href="#") Ресепшн
          +e.A.link(href="#") Торговые островки
          +e.A.link(href="#") Кассовые прилавки
        select(name="gw-all")
          option(value="Все работы" selected) Все работы
          option(value="Кофейные модули") Кофейные модули
          option(value="Барные стойки") Барные стойки
          option(value="Ресепшн") Ресепшн
          option(value="Торговые островки") Торговые островки
          option(value="Кассовые прилавки") Кассовые прилавки
    +e.container
      +e.box
        +e.grid
          +e.el
            +e.P.caption-mobile Барная стойка Трапеция
            +e.P.price-mobile от 
              span 160 924
              | руб. / м.п.
            +e.picture
              +e.IMG.pic(src='/img/gallery_work-1.png' alt='')
            +e.content
              +e.H2.caption Барная стойка Трапеция
              +e.P.price от 
                span 160 924
                | руб. / м.п.
              +e.list
                +e.item
                  p Материал
                  p Мдф шпон дуба, массив, лдсп
                +e.item
                  p Покраска 
                  p На выбор
                +e.item
                  p Длина от (мм)
                  p 1000
                +e.item
                  p Глубина (мм)
                  p 800
                +e.item
                  p Высота стойки (мм)
                  p 1200
                +e.item
                  p Высота раб. зоны (мм)
                  p 900
                +e.item
                  p Срок изготовления
                  p 15-30 дней
              +e.BUTTON.buy.btn_green Заказать расчет стоимости
          +e.el
            +e.P.caption-mobile Торговый остров для кондитерских изделий
            +e.P.price-mobile от 
              span 160 924
              | руб. / м.п.
            +e.picture
              +e.slider-main(data-slick='{"slidesToShow": 1}')
                +e.IMG.pic(src='/img/gallery_work-2.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-2.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-2.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-2.png' alt='')
              +e.slider-nav(data-slick='{"slidesToShow": 3}')
                +e.IMG.pic(src='/img/gallery_work-2.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-2.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-2.png' alt='')
            +e.content
              +e.H2.caption Торговый остров для кондитерских изделий
              +e.P.price от 
                span 160 924
                | руб. / м.п.
              +e.list
                +e.item
                  p Габариты
                  p 5х2,5 12,5кв.м
              +e.BUTTON.buy.btn_green Заказать расчет стоимости
          +e.el
            +e.P.caption-mobile Торговый остров для кондитерских изделий 
            +e.P.price-mobile от 
              span 160 924
              | руб. / м.п.
            +e.picture
              +e.slider-main(data-slick='{"slidesToShow": 1}')
                +e.IMG.pic(src='/img/gallery_work-3.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-3.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-3.png' alt='')
              +e.slider-nav(data-slick='{"slidesToShow": 2}')
                +e.IMG.pic(src='/img/gallery_work-3.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-3.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-3.png' alt='')
            +e.content
              +e.H2.caption Торговый остров для кондитерских изделий 
              +e.P.price от 
                span 160 924
                | руб. / м.п.
              +e.list
                +e.item
                  p Габариты
                  p 5х2,5 12,5кв.м
              +e.BUTTON.buy.btn_green Заказать расчет стоимости
          +e.el
            +e.P.caption-mobile Барная стойка Трапеция
            +e.P.price-mobile от 
              span 160 924
              | руб. / м.п.
            +e.picture
              +e.IMG.pic(src='/img/gallery_work-4.png' alt='')
            +e.content
              +e.H2.caption Барная стойка Трапеция
              +e.P.price от 
                span 160 924
                | руб. / м.п.
              +e.list
                +e.item
                  p Материал
                  p Мдф шпон дуба, массив, лдсп
                +e.item
                  p Покраска 
                  p На выбор
                +e.item
                  p Длина от (мм)
                  p 1000
                +e.item
                  p Глубина (мм)
                  p 800
                +e.item
                  p Высота стойки (мм)
                  p 1200
                +e.item
                  p Высота раб. зоны (мм)
                  p 900
                +e.item
                  p Срок изготовления
                  p 15-30 дней
              +e.BUTTON.buy.btn_green Заказать расчет стоимости
          +e.el
            +e.P.caption-mobile Торговый остров для кондитерских изделий 
            +e.P.price-mobile от 
              span 160 924
              | руб. / м.п.
            +e.picture
              +e.pic-two
                +e.IMG.pic(src='/img/gallery_work-2.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-2.png' alt='')
            +e.content
              +e.H2.caption Торговый остров для кондитерских изделий 
              +e.P.price от 
                span 160 924
                | руб. / м.п.
              +e.list
                +e.item
                  p Габариты
                  p 5х2,5 12,5кв.м
              +e.BUTTON.buy.btn_green Заказать расчет стоимости
          +e.el
            +e.P.caption-mobile Барная стойка Трапеция
            +e.P.price-mobile от 
              span 160 924
              | руб. / м.п.
            +e.picture
              +e.IMG.pic(src='/img/gallery_work-1.png' alt='')
            +e.content
              +e.H2.caption Барная стойка Трапеция
              +e.P.price от 
                span 160 924
                | руб. / м.п.
              +e.list
                +e.item
                  p Материал
                  p Мдф шпон дуба, массив, лдсп
                +e.item
                  p Покраска 
                  p На выбор
                +e.item
                  p Длина от (мм)
                  p 1000
                +e.item
                  p Глубина (мм)
                  p 800
                +e.item
                  p Высота стойки (мм)
                  p 1200
                +e.item
                  p Высота раб. зоны (мм)
                  p 900
                +e.item
                  p Срок изготовления
                  p 15-30 дней
              +e.BUTTON.buy.btn_green Заказать расчет стоимости
          +e.el
            +e.P.caption-mobile Барная стойка Трапеция
            +e.P.price-mobile от 
              span 160 924
              | руб. / м.п.
            +e.picture
              +e.IMG.pic(src='/img/gallery_work-4.png' alt='')
            +e.content
              +e.H2.caption Барная стойка Трапеция
              +e.P.price от 
                span 160 924
                | руб. / м.п.
              +e.list
                +e.item
                  p Материал
                  p Мдф шпон дуба, массив, лдсп
                +e.item
                  p Покраска 
                  p На выбор
                +e.item
                  p Длина от (мм)
                  p 1000
                +e.item
                  p Глубина (мм)
                  p 800
                +e.item
                  p Высота стойки (мм)
                  p 1200
                +e.item
                  p Высота раб. зоны (мм)
                  p 900
                +e.item
                  p Срок изготовления
                  p 15-30 дней
              +e.BUTTON.buy.btn_green Заказать расчет стоимости
          +e.el
            +e.P.caption-mobile Торговый остров для кондитерских изделий 
            +e.P.price-mobile от 
              span 160 924
              | руб. / м.п.
            +e.picture
              +e.slider-main(data-slick='{"slidesToShow": 1}')
                +e.IMG.pic(src='/img/gallery_work-3.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-3.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-3.png' alt='')
              +e.slider-nav(data-slick='{"slidesToShow": 2}')
                +e.IMG.pic(src='/img/gallery_work-3.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-3.png' alt='')
                +e.IMG.pic(src='/img/gallery_work-3.png' alt='')
            +e.content
              +e.H2.caption Торговый остров для кондитерских изделий 
              +e.P.price от 
                span 160 924
                | руб. / м.п.
              +e.list
                +e.item
                  p Габариты
                  p 5х2,5 12,5кв.м
              +e.BUTTON.buy.btn_green Заказать расчет стоимости
          +callback('1')
    +e.control
      +e.BUTTON.btn.btn_orange Показать еще
      +b.pagination
        +e.UL.list
          +e.LI.item
            +e.A.link.active(href='#') 1
          +e.LI.item
            +e.A.link(href='#') 2
          +e.LI.item
            +e.A.link(href='#') 3
          +e.LI.item
            +e.A.link(href='#') 4
          +e.LI.item
            +e.A.link(href='#') 5
          +e.LI.item
            +e.A.link(href='#') 6
          +e.LI.item
            +e.A.link(href='#') 7
          +e.LI.item
            +e.A.link(href='#') ...
          +e.LI.end
            +e.A.next(href="#") Следующая страница