mixin search(state)
  if state == 'full'
    +b.search-page
      +e.inner.inner
        +e.H1.title.title.text-center Результаты поиска по запросу “Текст запроса”
        +e.line
          +e.P.holder Категории
          +e.list
            each item, idx in ['Стеллажи эконом класса','Металличекие стеллажи','Стеллажи эконом класса','Металличекие стеллажи','Островные стеллажи','Угловые стеллажи','Перфорированные стеллажи','Торцевые стеллажи','Перфорированные стеллажи','Торцевые стеллажи',]
              +e.A.item(href="#")
                +e.IMG.pic(src='/img/product-0.png' alt='')
                +e.P.caption=item
        +e.line
          +e.P.holder Товары
          +e.elems
            +e.el
              +b.product
                +e.visible
                  +e.top
                    a(href="#")
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                  +e.bottom
                    +e.prices
                      +e.new-price 11 924 руб.
                    +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                    +e.A.more(href='#') Смотреть варианты размеров
                +e.hidden
                  +e.item
                    p Тип охлаждения
                    p Динамическое
                  +e.item
                    p Холодильный агрегат
                    p Выносное / встроенное
                  +e.item
                    p Температурный режим
                    p 0 - 45°C
                  +e.item
                    p Конструкция
                    p с прямым стеклом
                  +e.item
                    p Назначение
                    a(href="#") Гастрономическая
                  +e.item
                    p Габаритные размеры
                    p 2000 мм x 9999 мм х 5555 мм
                  +e.BUTTON.buy.btn_green Купить
            +e.el
              +b.product
                +e.visible
                  +e.top
                    a(href="#")
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                  +e.bottom
                    +e.prices
                      +e.new-price 11 924 руб.
                    +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                    +e.A.more(href='#') Смотреть варианты размеров
                +e.hidden
                  +e.item
                    p Тип охлаждения
                    p Динамическое
                  +e.item
                    p Холодильный агрегат
                    p Выносное / встроенное
                  +e.item
                    p Температурный режим
                    p 0 - 45°C
                  +e.item
                    p Конструкция
                    p с прямым стеклом
                  +e.item
                    p Назначение
                    a(href="#") Гастрономическая
                  +e.item
                    p Габаритные размеры
                    p 2000 мм x 9999 мм х 5555 мм
                  +e.BUTTON.buy.btn_green Купить
            +e.el
              +b.product
                +e.visible
                  +e.top
                    a(href="#")
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                  +e.bottom
                    +e.prices
                      +e.new-price 11 924 руб.
                    +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                    +e.A.more(href='#') Смотреть варианты размеров
                +e.hidden
                  +e.item
                    p Тип охлаждения
                    p Динамическое
                  +e.item
                    p Холодильный агрегат
                    p Выносное / встроенное
                  +e.item
                    p Температурный режим
                    p 0 - 45°C
                  +e.item
                    p Конструкция
                    p с прямым стеклом
                  +e.item
                    p Назначение
                    a(href="#") Гастрономическая
                  +e.item
                    p Габаритные размеры
                    p 2000 мм x 9999 мм х 5555 мм
                  +e.BUTTON.buy.btn_green Купить
            +e.el
              +b.product
                +e.visible
                  +e.top
                    +e.sale Скидка!
                    a(href="#")
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                  +e.bottom
                    +e.prices
                      +e.new-price 11 924 руб.
                    +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                    +e.A.more(href='#') Смотреть варианты размеров
                +e.hidden
                  +e.item
                    p Тип охлаждения
                    p Динамическое
                  +e.item
                    p Холодильный агрегат
                    p Выносное / встроенное
                  +e.item
                    p Температурный режим
                    p 0 - 45°C
                  +e.item
                    p Конструкция
                    p с прямым стеклом
                  +e.item
                    p Назначение
                    a(href="#") Гастрономическая
                  +e.item
                    p Габаритные размеры
                    p 2000 мм x 9999 мм х 5555 мм
                  +e.BUTTON.buy.btn_green Купить
            +e.el
              +b.product
                +e.visible
                  +e.top
                    +e.sale Скидка!
                    a(href="#")
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                  +e.bottom
                    +e.prices
                      +e.new-price 11 924 руб.
                    +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                    +e.A.more(href='#') Смотреть варианты размеров
                +e.hidden
                  +e.item
                    p Тип охлаждения
                    p Динамическое
                  +e.item
                    p Холодильный агрегат
                    p Выносное / встроенное
                  +e.item
                    p Температурный режим
                    p 0 - 45°C
                  +e.item
                    p Конструкция
                    p с прямым стеклом
                  +e.item
                    p Назначение
                    a(href="#") Гастрономическая
                  +e.item
                    p Габаритные размеры
                    p 2000 мм x 9999 мм х 5555 мм
                  +e.BUTTON.buy.btn_green Купить
            +e.el
              +b.product
                +e.visible
                  +e.top
                    +e.sale Скидка!
                    a(href="#")
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                  +e.bottom
                    +e.prices
                      +e.new-price 11 924 руб.
                    +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                    +e.A.more(href='#') Смотреть варианты размеров
                +e.hidden
                  +e.item
                    p Тип охлаждения
                    p Динамическое
                  +e.item
                    p Холодильный агрегат
                    p Выносное / встроенное
                  +e.item
                    p Температурный режим
                    p 0 - 45°C
                  +e.item
                    p Конструкция
                    p с прямым стеклом
                  +e.item
                    p Назначение
                    a(href="#") Гастрономическая
                  +e.item
                    p Габаритные размеры
                    p 2000 мм x 9999 мм х 5555 мм
                  +e.BUTTON.buy.btn_green Купить
            +e.el
              +b.product
                +e.visible
                  +e.top
                    +e.best Бестселлер!
                    a(href="#")
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                  +e.bottom
                    +e.prices
                      +e.new-price 11 924 руб.
                    +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                    +e.A.more(href='#') Смотреть варианты размеров
                +e.hidden
                  +e.item
                    p Тип охлаждения
                    p Динамическое
                  +e.item
                    p Холодильный агрегат
                    p Выносное / встроенное
                  +e.item
                    p Температурный режим
                    p 0 - 45°C
                  +e.item
                    p Конструкция
                    p с прямым стеклом
                  +e.item
                    p Назначение
                    a(href="#") Гастрономическая
                  +e.item
                    p Габаритные размеры
                    p 2000 мм x 9999 мм х 5555 мм
                  +e.BUTTON.buy.btn_green Купить
            +e.el
              +b.product
                +e.visible
                  +e.top
                    +e.best Бестселлер!
                    a(href="#")
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                  +e.bottom
                    +e.prices
                      +e.new-price 11 924 руб.
                    +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                    +e.A.more(href='#') Смотреть варианты размеров
                +e.hidden
                  +e.item
                    p Тип охлаждения
                    p Динамическое
                  +e.item
                    p Холодильный агрегат
                    p Выносное / встроенное
                  +e.item
                    p Температурный режим
                    p 0 - 45°C
                  +e.item
                    p Конструкция
                    p с прямым стеклом
                  +e.item
                    p Назначение
                    a(href="#") Гастрономическая
                  +e.item
                    p Габаритные размеры
                    p 2000 мм x 9999 мм х 5555 мм
                  +e.BUTTON.buy.btn_green Купить
            +e.el
              +b.product
                +e.visible
                  +e.top
                    +e.best Бестселлер!
                    a(href="#")
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                  +e.bottom
                    +e.prices
                      +e.new-price 11 924 руб.
                    +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                    +e.A.more(href='#') Смотреть варианты размеров
                +e.hidden
                  +e.item
                    p Тип охлаждения
                    p Динамическое
                  +e.item
                    p Холодильный агрегат
                    p Выносное / встроенное
                  +e.item
                    p Температурный режим
                    p 0 - 45°C
                  +e.item
                    p Конструкция
                    p с прямым стеклом
                  +e.item
                    p Назначение
                    a(href="#") Гастрономическая
                  +e.item
                    p Габаритные размеры
                    p 2000 мм x 9999 мм х 5555 мм
                  +e.BUTTON.buy.btn_green Купить
            +e.el
              +b.product
                +e.visible
                  +e.top
                    a(href="#")
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                  +e.bottom
                    +e.prices
                      +e.new-price 11 924 руб.
                    +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                    +e.A.more(href='#') Смотреть варианты размеров
                +e.hidden
                  +e.item
                    p Тип охлаждения
                    p Динамическое
                  +e.item
                    p Холодильный агрегат
                    p Выносное / встроенное
                  +e.item
                    p Температурный режим
                    p 0 - 45°C
                  +e.item
                    p Конструкция
                    p с прямым стеклом
                  +e.item
                    p Назначение
                    a(href="#") Гастрономическая
                  +e.item
                    p Габаритные размеры
                    p 2000 мм x 9999 мм х 5555 мм
                  +e.BUTTON.buy.btn_green Купить
          +e.control
            +e.A.more.btn_green(href="#") Показать еще
  if state == 'empty'
    +b.search-page
      +e.inner.inner
        +e.H1.title.title.text-center По Вашему запросу ничего не найдено
        +e.btns
          +e.A.select.btn_orange(href="#") Подберем оборудование за вас
          +e.A.cat.btn_green(href="#") В каталог
        +e.icon-over
          +e.IMG.icon(src='/img/emptycart.png' alt='')
    +prodcat('Вас может заинтересовать')