mixin form(title='Заказать рассчет стоимости оборудования')
  +b.action.section
    +e.inner.inner
      +e.box
        +e.P.title.display-2.text-center=title
        +e.wrap
          +e.info
            if title == 'Заказать рассчет стоимости оборудования'
              +e.sign Оставьте свои контактыне данные  – наш менеджер свяжется с вами для уточнения деталей и подготовки расчета. Каждый расчет уникальный и готовится под специфику бизнеса нашего клиента.
              +e.IMG.pic(src='/img/mail-1.png' alt='')
            else if title == 'Не нашли, что искали?'
              +e.sign Оставьте свои контактыне данные  – наш менеджер свяжется с вами для уточнения деталей и подготовки расчета. Каждый расчет уникальный и готовится под специфику бизнеса нашего клиента.
              +e.IMG.pic(src='/img/mail-1.png' alt='')
            else if title == 'Бесплатная консультация по оснащению'
              +e.UL.list
                +e.LI.item Определим наиболее эффективный набор оборудования
                +e.LI.item Сделаем схему расстановку
                +e.LI.item Поможем выбрать технологическое оборудование
                +e.LI.item Подберем необходимое оборудование и мебель
                +e.LI.item Составим график производства, этапы его доставки и монтажа
          +e.FORM.form
            +e.field.field__
              +e.INPUT.input.required(placeholder="Ваше имя")
            +e.field.field__
              +e.INPUT.input.required(placeholder="Ваш телефон" type="tel")
            +e.field.field__
              +e.TEXTAREA.input_area(placeholder="Комментарий или вопрос" )
            +e.LABEL.checkbox.polit__
              +e.INPUT.hidden(type="checkbox" checked)
              +e.SPAN.txt Я даю согласие на хранение и обработку моих персональных данных компанией Евромаркет.
            +e.BUTTON.btn.btn_orange Отправить форму