+b.work
  +e.inner.inner
    +e.H2.title Более 
      span 1000 открытых заведений 
      |по всей России
    +e.nav
      +e.row
        +e.BUTTON.btn.active Все оборудование
        +e.BUTTON.btn Рестораны
        +e.BUTTON.btn Кафе
        +e.BUTTON.btn Магазины
      +e.container
        +e.box
          +e.slider
            +e.slide
              +e.wrap
                +e.info
                  +e.IMG.pic(src='/icon/icon-logo-1.svg' alt='')
                  +e.P.text Завод торгового оборудования «Евромаркет» установил оборудование для сети европейских пекарен "Мудрый Пекарь". "Мудрый Пекарь" - это пекарни современного формата. Они соответствуют высоким европейским стандартам.
                +e.gallery
                  - for(var i = 1; i < 7; i++){
                    +e.item
                      +e.IMG.img(src='/img/gallery-'+ i +'.png' alt='')
                  - }
            +e.slide
              +e.wrap
                +e.info
                  +e.IMG.pic(src='/icon/icon-logo-1.svg' alt='')
                  +e.P.text Завод торгового оборудования «Евромаркет» установил оборудование для сети европейских пекарен "Мудрый Пекарь". "Мудрый Пекарь" - это пекарни современного формата. Они соответствуют высоким европейским стандартам.
                +e.gallery
                  - for(var i = 1; i < 7; i++){
                    +e.item
                      +e.IMG.img(src='/img/gallery-'+ i +'.png' alt='')
                  - }
          +e.A.more.btn_orange(href="#") Смотреть все работы
        +e.box
          +e.slider
            +e.slide
              +e.wrap
                +e.info
                  +e.IMG.pic(src='/icon/icon-logo-1.svg' alt='')
                  +e.P.text Завод торгового оборудования «Евромаркет» установил оборудование для сети европейских пекарен "Мудрый Пекарь". "Мудрый Пекарь" - это пекарни современного формата. Они соответствуют высоким европейским стандартам.
                +e.gallery
                  - for(var i = 1; i < 7; i++){
                    +e.item
                      +e.IMG.img(src='/img/gallery-'+ i +'.png' alt='')
                  - }
            +e.slide
              +e.wrap
                +e.info
                  +e.IMG.pic(src='/icon/icon-logo-1.svg' alt='')
                  +e.P.text Завод торгового оборудования «Евромаркет» установил оборудование для сети европейских пекарен "Мудрый Пекарь". "Мудрый Пекарь" - это пекарни современного формата. Они соответствуют высоким европейским стандартам.
                +e.gallery
                  - for(var i = 1; i < 7; i++){
                    +e.item
                      +e.IMG.img(src='/img/gallery-'+ i +'.png' alt='')
                  - }
          +e.A.more.btn_orange(href="#") Смотреть все работы
        +e.box
          +e.slider
            +e.wrap
              +e.slide
                +e.info
                  +e.IMG.pic(src='/icon/icon-logo-1.svg' alt='')
                  +e.P.text Завод торгового оборудования «Евромаркет» установил оборудование для сети европейских пекарен "Мудрый Пекарь". "Мудрый Пекарь" - это пекарни современного формата. Они соответствуют высоким европейским стандартам.
                +e.gallery
                  - for(var i = 1; i < 7; i++){
                    +e.item
                      +e.IMG.img(src='/img/gallery-'+ i +'.png' alt='')
                  - }
            +e.slide
              +e.wrap
                +e.info
                  +e.IMG.pic(src='/icon/icon-logo-1.svg' alt='')
                  +e.P.text Завод торгового оборудования «Евромаркет» установил оборудование для сети европейских пекарен "Мудрый Пекарь". "Мудрый Пекарь" - это пекарни современного формата. Они соответствуют высоким европейским стандартам.
                +e.gallery
                  - for(var i = 1; i < 7; i++){
                    +e.item
                      +e.IMG.img(src='/img/gallery-'+ i +'.png' alt='')
                  - }
          +e.A.more.btn_orange(href="#") Смотреть все работы
        +e.box
          +e.slider
            +e.slide
              +e.wrap
                +e.info
                  +e.IMG.pic(src='/icon/icon-logo-1.svg' alt='')
                  +e.P.text Завод торгового оборудования «Евромаркет» установил оборудование для сети европейских пекарен "Мудрый Пекарь". "Мудрый Пекарь" - это пекарни современного формата. Они соответствуют высоким европейским стандартам.
                +e.gallery
                  - for(var i = 1; i < 7; i++){
                    +e.item
                      +e.IMG.img(src='/img/gallery-'+ i +'.png' alt='')
                  - }
            +e.slide
              +e.wrap
                +e.info
                  +e.IMG.pic(src='/icon/icon-logo-1.svg' alt='')
                  +e.P.text Завод торгового оборудования «Евромаркет» установил оборудование для сети европейских пекарен "Мудрый Пекарь". "Мудрый Пекарь" - это пекарни современного формата. Они соответствуют высоким европейским стандартам.
                +e.gallery
                  - for(var i = 1; i < 7; i++){
                    +e.item
                      +e.IMG.img(src='/img/gallery-'+ i +'.png' alt='')
                  - }
          +e.A.more.btn_orange(href="#") Смотреть все работы