.work
  margin: 8rem 0
  &__title
    margin-bottom: 2rem
    span
      color: $c4
  &__row
    display: flex
    gap: 10px
    margin-bottom: 3rem
    overflow: auto
    scrollbar-width: 0
    &::-webkit-scrollbar
      display: none
  &__btn
    padding: 7px 13px 9px
    text-align: center
    background: $c3
    transition: .5s ease
    border-radius: 5px
    cursor: pointer
    flex-shrink: 0
    &.active
      background: $c4
      color: #fff
    &:hover
      background: $c10
  &__box
    display: none
    &:first-of-type
      display: block
  &__wrap
    display: flex
    justify-content: flex-end
    gap: 3rem
    align-items: center
    padding-right: 7rem
    box-sizing: border-box
    +screen('max', 767)
      display: block
      padding-right: 0
  &__info
    max-width: 560px
  &__gallery
    width: 60%
    max-width: 960px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-auto-rows: 230px
    gap: 3rem
    flex-shrink: 0
    +screen('max', 1200)
      grid-template-columns: repeat(2, 1fr)
      width: 50%
      grid-auto-rows: 180px
    +screen('max', 767)
      grid-auto-rows: 92px
      width: 100%
      gap: 20px
  &__img
    width: 100%
    height: 100%
    border-radius: 20px
    object-fit: cover
  &__item
    position: relative
    &:last-of-type, &:nth-last-of-type(2)
      +screen('max', 1200)
        display: none
    &:nth-last-of-type(3)
      &:before
        width: 100%
        height: 100%
        position: absolute
        display: block
        top: 0
        left: 0
        background: linear-gradient(0deg, rgba(2, 15, 25, 0.5), rgba(2, 15, 25, 0.5))
        border-radius: 20px
        z-index: 1
        transition: .3s ease
      &:after
        font-weight: 600
        +fs(42px)
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: $c2
        z-index: 3
        line-height: .95
        +screen('max', 767)
          +fs(30px)
      +screen('max', 1200)
        &:before
          content: ''
        &:after
          content: '+3'
  &__pic
    margin: 0 auto
    max-width: 300px
    +screen('max', 767)
      max-width: 200px
  &__text
    line-height: 1.3
    +screen('max', 767)
      +fs(12px)
      margin-bottom: 3rem
  &__more
    width: 290px
    margin: 4rem auto 0
    display: block
  .slick-slide
    height: auto
  .slick-prev
    left: -20px
    +screen('max', 1300)
      left: -10px
    +screen('max', 767)
      top: 20%
  .slick-next
    right: 0
    +screen('max', 767)
      top: 20%