.gallery
  &__list
    display: grid
    margin-top: 3rem
    grid-gap: 1.55vw
    +screen('max', 600)
      grid-gap: 20px
    &_top
      grid-template-columns: 1fr repeat(3, 21.9%)
      +screen('max', 600)
        grid-template-columns: repeat(2, 47%)
    &_bottom
      grid-template-columns: repeat(3, 21.9%) 1fr
      +screen('max', 600)
        display: none
  &__item
    &_first
      grid-row-start: 1
      grid-row-end: 3
      grid-column-start: 1
      grid-column-end: 2
      +screen('max', 600)
        grid-column-start: 1
        grid-column-end: 3
    &_last
      grid-row-start: 1
      grid-row-end: 3
      grid-column-start: 4
      grid-column-end: 5
  &__control
    display: flex
    justify-content: center
    margin-top: 3rem
  &__pic
    vertical-align: middle
    width: 100%