+b.popular-mini.section
  +e.inner.inner
    +e.H2.title Популярные товары
    +e.P.sign.sign-box Цены на оборудование для магазина зависят от наличия остекления и фурнитуры, площади помещения, материалов изготовления, сроков выполнения и индивидуальных параметров. Окончательная стоимость формируется с учётом доставки, материалов и объема заказа.
    +e.list
      +e.A.item(href="#")
        +e.top
          +e.IMG.pic(src='/img/popular-0.png' alt='')
        +e.bottom
          +e.prices
            +e.new-price 11 924 руб.
          +e.caption Развал для овощей и фруктов островной, удлиненный, в виде телеги
      +e.A.item_sale(href="#")
        +e.top
          +e.sale.sticker-2 Скидка!
          +e.IMG.pic(src='/img/popular-1.png' alt='')
        +e.bottom
          +e.prices
            +e.new-price 3 924 руб.
            +e.old-price 25 851 
          +e.caption Покупательская тележка класса эконом
      +e.A.item(href="#")
        +e.top
          +e.best.sticker-1 Бестселлер!
          +e.IMG.pic(src='/img/popular-2.png' alt='')
        +e.bottom
          +e.prices
            +e.new-price 5 924 руб.
          +e.caption Стеллаж для бензопил
      +e.A.item_sale(href="#")
        +e.top
          +e.best.sticker-1 Бестселлер!
          +e.sale.sticker-2 Скидка!
          +e.IMG.pic(src='/img/popular-3.png' alt='')
        +e.bottom
          +e.prices
            +e.new-price 11 924 руб.
            +e.old-price 25 851 
          +e.caption Подставка для облучателя ПОБ-02-1
      +e.A.item(href="#")
        +e.top
          +e.best.sticker-1 Бестселлер!
          +e.IMG.pic(src='/img/popular-4.png' alt='')
        +e.bottom
          +e.prices
            +e.new-price 5 924 руб.
          +e.caption Стеллаж для бензопил
      +e.A.item(href="#")
        +e.top
          +e.best.sticker-1 Бестселлер!
          +e.IMG.pic(src='/img/popular-4.png' alt='')
        +e.bottom
          +e.prices
            +e.new-price 5 924 руб.
          +e.caption Стеллаж для бензопил