+b.order-finish
  +e.inner.inner
    +e.H1.title.title Спасибо за Ваш заказ
    +e.info
      +e.IMG.pic(src='/img/order-box.png' alt='')
      +e.wrap
        +e.P.number Заказ №125512
        +e.P.sign Спасибо за Ваш заказ. В ближайшее время мы свяжемся с Вами.
    +e.UL.list
      +e.LI.item
        p Сумма заказа
        p 1 302 123 руб.
      +e.LI.item
        p Имя
        p Василий
      +e.LI.item
        p Телефон
        p 8 903 123 45 67
      +e.LI.item
        p Почта
        p test@mail.ru
    +e.A.btn.btn_orange В каталог