+b.order
  +e.inner.inner
    +e.H1.title.title Оформление заказа
    +e.row
      +e.left
        +e.box
          +e.top
            +e.info
              a(href="#") 
                +e.IMG.pic(src='/img/product--slide-1.png' alt='')
              +e.content
                +e.P.caption Овощной стеллаж с зеральным фризом и подсветкой полок
                +e.UL.list
                  +e.LI.item
                    +e.name Основной цвет RAL: 
                    +e.color
                      +e.IMG.icon(src='/img/color-main-1.png' alt='')
                      +e.txt 1000
                  +e.LI.item
                    +e.name Цвет отделки:
                    +e.color
                      +e.IMG.icon(src='/img/color-finish-1.png' alt='')
                      +e.txt H1424 ST22
                  +e.LI.item
                    +e.name Размеры:
                    +e.txt 218 см x 95 см x 90 см
                  +e.LI.item_add
                    +e.name Дополнительные опции:
                    +e.txt
                      p Крючки и навесные держатели товара
                      p Наклонные полки - двухпозиционный кронштейн
                      p Накопитель вместо базовой полки
                      p Ограничители
              +e.cost
                +b.number
                  +e.btn_minus
                    svg(width='10' height='18' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M9.69.468c.455.57.403 1.436-.117 1.935L3.148 8.571l6.425 6.169c.52.498.572 1.365.118 1.935-.455.57-1.245.627-1.764.128l-7.5-7.2A1.432 1.432 0 0 1 0 8.571C0 8.176.156 7.8.427 7.54l7.5-7.2c.52-.5 1.309-.442 1.764.128Z' fill='#020F19')
                  +e.INPUT.field(type="text" value="1")
                  +e.btn_plus
                    svg(width='10' height='18' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M.31 17.532c-.455-.57-.403-1.436.117-1.935l6.425-6.168L.427 3.26c-.52-.498-.572-1.365-.118-1.935.455-.57 1.245-.627 1.764-.128l7.5 7.2c.271.26.427.636.427 1.032 0 .395-.156.771-.427 1.031l-7.5 7.2c-.52.5-1.309.442-1.764-.128Z' fill='#020F19')
                +e.price
                  span 25 851 
                  |руб.
              +e.BUTTON.remove
                svg(width='24' height='26' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M22 5.5h-5V4.25A3.75 3.75 0 0 0 13.25.5h-2.5A3.75 3.75 0 0 0 7 4.25V5.5H2A1.25 1.25 0 0 0 2 8h1.25v13.75A3.75 3.75 0 0 0 7 25.5h10a3.75 3.75 0 0 0 3.75-3.75V8H22a1.25 1.25 0 0 0 0-2.5ZM9.5 4.25A1.25 1.25 0 0 1 10.75 3h2.5a1.25 1.25 0 0 1 1.25 1.25V5.5h-5V4.25Zm8.75 17.5A1.25 1.25 0 0 1 17 23H7a1.25 1.25 0 0 1-1.25-1.25V8h12.5v13.75Z' fill='#AEAEAE')
          +e.bottom
            +b.related
              +e.head
                +e.P.title Сопутствующие товары
                +e.icons
                  +e.icon
                    img(src="/img/catalog-1.png", alt="")
                  +e.icon
                    img(src="/img/popular-0.png", alt="")
                  +e.icon
                    img(src="/img/popular-2.png", alt="")
                  +e.icon
                    img(src="/img/popular-3.png", alt="")
                  +e.icon
                    img(src="/img/popular-4.png", alt="")
                +e.open Развернуть
              +e.middle
                +e.list
                  +e.A.item(href="#")
                    +e.top
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                    +e.bottom
                      +e.prices
                        +e.new-price 11 924 руб.
                      +e.caption Овощной стеллаж с металлическим полками без фриза
                      +e.BUTTON.btn.btn_green Добавить
                  +e.A.item(href="#")
                    +e.top
                      +e.sale.sticker-2 Скидка!
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                    +e.bottom
                      +e.prices
                        +e.new-price 3 924 руб.
                        +e.old-price 25 851 
                      +e.caption Овощной стеллаж с металлическим полками без фриза
                      +e.BUTTON.btn.btn_green Добавить
                  +e.A.item(href="#")
                    +e.top
                      +e.best.sticker-1 Бестселлер!
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                    +e.bottom
                      +e.prices
                        +e.new-price 5 924 руб.
                      +e.caption Овощной стеллаж с металлическим полками без фриза
                      +e.BUTTON.btn.btn_green Добавить
                  +e.A.item(href="#")
                    +e.top
                      +e.best.sticker-1 Бестселлер!
                      +e.sale.sticker-2 Скидка!
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                    +e.bottom
                      +e.prices
                        +e.new-price 11 924 руб.
                        +e.old-price 25 851 
                      +e.caption Овощной стеллаж с металлическим полками без фриза
                      +e.BUTTON.btn.btn_green Добавить
                  +e.A.item(href="#")
                    +e.top
                      +e.best.sticker-1 Бестселлер!
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                    +e.bottom
                      +e.prices
                        +e.new-price 5 924 руб.
                      +e.caption Овощной стеллаж с металлическим полками без фриза
                      +e.BUTTON.btn.btn_green Добавить
                  +e.A.item(href="#")
                    +e.top
                      +e.best.sticker-1 Бестселлер!
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                    +e.bottom
                      +e.prices
                        +e.new-price 5 924 руб.
                      +e.caption Овощной стеллаж с металлическим полками без фриза
                      +e.BUTTON.btn.btn_green Добавить
        +e.box
          +e.top
            +e.info
              a(href="#") 
                +e.IMG.pic(src='/img/product--slide-1.png' alt='')
              +e.content
                +e.P.caption Овощной стеллаж с зеральным фризом и подсветкой полок
                +e.UL.list
                  +e.LI.item
                    +e.name Основной цвет RAL: 
                    +e.color
                      +e.IMG.icon(src='/img/color-main-1.png' alt='')
                      +e.txt 1000
                  +e.LI.item
                    +e.name Цвет отделки:
                    +e.color
                      +e.IMG.icon(src='/img/color-finish-1.png' alt='')
                      +e.txt H1424 ST22
                  +e.LI.item
                    +e.name Размеры:
                    +e.txt 218 см x 95 см x 90 см
                  +e.LI.item_add
                    +e.name Дополнительные опции:
                    +e.txt
                      p Крючки и навесные держатели товара
                      p Наклонные полки - двухпозиционный кронштейн
                      p Накопитель вместо базовой полки
                      p Ограничители
              +e.cost
                +b.number
                  +e.btn_minus
                    svg(width='10' height='18' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M9.69.468c.455.57.403 1.436-.117 1.935L3.148 8.571l6.425 6.169c.52.498.572 1.365.118 1.935-.455.57-1.245.627-1.764.128l-7.5-7.2A1.432 1.432 0 0 1 0 8.571C0 8.176.156 7.8.427 7.54l7.5-7.2c.52-.5 1.309-.442 1.764.128Z' fill='#020F19')
                  +e.INPUT.field(type="number" step="1" min="1" max="99" value="1")
                  +e.btn_plus
                    svg(width='10' height='18' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M.31 17.532c-.455-.57-.403-1.436.117-1.935l6.425-6.168L.427 3.26c-.52-.498-.572-1.365-.118-1.935.455-.57 1.245-.627 1.764-.128l7.5 7.2c.271.26.427.636.427 1.032 0 .395-.156.771-.427 1.031l-7.5 7.2c-.52.5-1.309.442-1.764-.128Z' fill='#020F19')
                +e.price
                  span 25 851 
                  |руб.
              +e.BUTTON.remove
                svg(width='24' height='26' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M22 5.5h-5V4.25A3.75 3.75 0 0 0 13.25.5h-2.5A3.75 3.75 0 0 0 7 4.25V5.5H2A1.25 1.25 0 0 0 2 8h1.25v13.75A3.75 3.75 0 0 0 7 25.5h10a3.75 3.75 0 0 0 3.75-3.75V8H22a1.25 1.25 0 0 0 0-2.5ZM9.5 4.25A1.25 1.25 0 0 1 10.75 3h2.5a1.25 1.25 0 0 1 1.25 1.25V5.5h-5V4.25Zm8.75 17.5A1.25 1.25 0 0 1 17 23H7a1.25 1.25 0 0 1-1.25-1.25V8h12.5v13.75Z' fill='#AEAEAE')
          +e.bottom
            +b.related
              +e.head
                +e.P.title Сопутствующие товары
                +e.icons
                  +e.icon
                    img(src="/img/catalog-1.png", alt="")
                  +e.icon
                    img(src="/img/popular-0.png", alt="")
                  +e.icon
                    img(src="/img/popular-2.png", alt="")
                  +e.icon
                    img(src="/img/popular-3.png", alt="")
                  +e.icon
                    img(src="/img/popular-4.png", alt="")
                +e.open Развернуть
              +e.middle
                +e.list
                  +e.A.item(href="#")
                    +e.top
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                    +e.bottom
                      +e.prices
                        +e.new-price 11 924 руб.
                      +e.caption Овощной стеллаж с металлическим полками без фриза
                      +e.BUTTON.btn.btn_green Добавить
                  +e.A.item(href="#")
                    +e.top
                      +e.sale.sticker-2 Скидка!
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                    +e.bottom
                      +e.prices
                        +e.new-price 3 924 руб.
                        +e.old-price 25 851 
                      +e.caption Овощной стеллаж с металлическим полками без фриза
                      +e.BUTTON.btn.btn_green Добавить
                  +e.A.item(href="#")
                    +e.top
                      +e.best.sticker-1 Бестселлер!
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                    +e.bottom
                      +e.prices
                        +e.new-price 5 924 руб.
                      +e.caption Овощной стеллаж с металлическим полками без фриза
                      +e.BUTTON.btn.btn_green Добавить
                  +e.A.item(href="#")
                    +e.top
                      +e.best.sticker-1 Бестселлер!
                      +e.sale.sticker-2 Скидка!
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                    +e.bottom
                      +e.prices
                        +e.new-price 11 924 руб.
                        +e.old-price 25 851 
                      +e.caption Овощной стеллаж с металлическим полками без фриза
                      +e.BUTTON.btn.btn_green Добавить
                  +e.A.item(href="#")
                    +e.top
                      +e.best.sticker-1 Бестселлер!
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                    +e.bottom
                      +e.prices
                        +e.new-price 5 924 руб.
                      +e.caption Овощной стеллаж с металлическим полками без фриза
                      +e.BUTTON.btn.btn_green Добавить
                  +e.A.item(href="#")
                    +e.top
                      +e.best.sticker-1 Бестселлер!
                      +e.IMG.pic(src='/img/catalog-1.png' alt='')
                    +e.bottom
                      +e.prices
                        +e.new-price 5 924 руб.
                      +e.caption Овощной стеллаж с металлическим полками без фриза
                      +e.BUTTON.btn.btn_green Добавить
        +b.getorder
          +e.P.title.display-2 Заполните информацию о себе
          +e.FORM.action
            +e.field
              +e.P.name Имя
              +b.field
                +e.INPUT.input.required(placeholder="Васильев Василий Васильевич")
            +e.field
              +e.P.name Телефон*
              +b.field
                +e.INPUT.input.required(placeholder="+7 (–––) ––– –– ––" type="tel")
            +e.field
              +e.P.name Почта
              +b.field
                +e.INPUT.input.required(placeholder="example@mail.ru" type="email")
            +e.delivery
              +e.P.caption Доставка
              +e.toggl-box
                +e.LABEL.toggl.toggl__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.box
                +e.P.name Заберу с завода сам
              +e.field
                +e.P.name Адрес
                +b.field
                  +e.INPUT.input.required(placeholder="город, улица, дом, этаж, вартира" disabled name="addr_del")
            +e.BUTTON.submit.btn_orange Подтверждаю заказ
          +e.sign Нажимая кнопку "Подтверждаю заказ", Вы принимаете условия 
            a(href="#") Договора оферты
            |, 
            a(href="#") Политики конфиденциальности
            | , а также даете 
            a(href="#") Согласие на обработку Ваших персональных данных 
            | и их передачу.
      +e.right
        +e.sticky
          +e.P.total-cost Итого 
            span 2 
            |товара на сумму
          +e.total
            span 25 851 
            |руб.
          +e.DETAILS.link
            summary Условия доставки
              img(src="/icon/icon-bottom--green.svg", alt="")
            span.hidden Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate a iste excepturi numquam quisquam sapiente accusantium vero minima, assumenda natus saepe nihil officia sit maxime veritatis eos illum. Atque.
          +e.A.link(href="#") Договор оферты
