+b.why.section
  +e.inner.inner
    +e.H2.title Почему мы?
    +e.list
      +e.item_green
        +e.P.caption Собственное производство
        +e.P.sign Начало повседневной работы по формированию позиции влечет за собой процесс.
        +e.IMG.pic(src='/icon/icon-why-1.svg' alt='')
      +e.item_sky
        +e.P.caption Любой размер и цвет
        +e.P.sign Начало повседневной работы по формированию позиции влечет за собой процесс.
        +e.IMG.pic(src='/icon/icon-why-2.svg' alt='')
      +e.item_blue
        +e.P.caption Малые партии
        +e.P.sign Начало повседневной работы по формированию позиции влечет за собой процесс.
        +e.IMG.pic(src='/icon/icon-why-3.svg' alt='')
      +e.item_black
        +e.P.caption Комбинируем материалы
        +e.P.sign Начало повседневной работы по формированию позиции влечет за собой процесс.
        +e.IMG.pic(src='/icon/icon-why-4.svg' alt='')