+b.staff.section
  +e.inner.inner
    +e.H2.title.text-center Вам могут помочь
    +e.list
      +e.item
        +e.IMG.pic(src='/img/staff-1.png' alt='')
        +e.P.caption Елена
          br
          | Ванкуверовна
        +e.A.phone(href='tel:8 123 456 78 90') 8 123 456 78 90
      +e.item
        +e.IMG.pic(src='/img/staff-2.png' alt='')
        +e.P.caption Владислав
          br
          | Причесович
        +e.A.phone(href='tel:8 123 456 78 90') 8 123 456 78 90
      +e.item
        +e.IMG.pic(src='/img/staff-3.png' alt='')
        +e.P.caption Василий
          br
          | Белый
        +e.A.phone(href='tel:8 123 456 78 90') 8 123 456 78 90
      +e.item
        +e.IMG.pic(src='/img/staff-4.png' alt='')
        +e.P.caption Ирина
          br
          | Рабитовна
        +e.A.phone(href='tel:8 123 456 78 90') 8 123 456 78 90