.goods
  margin: 4rem 0
  position: relative
  &__inner
    max-width: 1688px
    display: grid
    grid-template-columns: 256px 1fr
    grid-gap: 30px
    +screen('max', 1690)
      width: 100%
    +screen('max', 1023)
      display: block
  &__left
    +screen('max', 1023)
      margin-bottom: 4rem
    .select2-container
      width: 100%
      +screen('min', 1024)
        display: none
  &__box-nav
    .select2-container
      display: block
  &__nav
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25))
    +screen('max', 1023)
      display: none
  &__nav-item
    border: 1px solid #E5E5E5
    border-bottom-width: 0
    min-height: 70px
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 13px 10px 20px
    position: relative
    font-weight: 700
    box-sizing: border-box
    line-height: 1.35
    cursor: pointer
    transition: .5s ease
    user-select: none
    &:first-of-type
      border-radius: 20px 20px 0 0
    &:last-of-type
      border-bottom-width: 1
      border-radius: 0 0 20px 20px
    &.active
      background: $c4
      color: #fff
      path
        fill: #fff
    svg
      flex-shrink: 0
    path
      transition: .5s ease
  &__content
    display: none
    &:first-of-type
      display: block
  &__list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 30px
    +screen('max', 1690)
      grid-template-columns: repeat(3, 1fr)
    +screen('max', 1260)
      grid-gap: 10px
    +screen('max', 1150)
      grid-template-columns: repeat(2, 1fr)
    &_two
      grid-template-columns: repeat(2, 1fr)
  &__item
    background: #FFFFFF
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
    border-radius: 20px
    padding: 2rem
    box-sizing: border-box
    +screen('max', 1023)
      display: none
    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4)
      display: block
    +screen('max', 767)
      box-shadow: none
      padding: 0
  &__pic
    width: 268px
    height: 268px
    object-fit: contain
    margin: 0 auto
    display: block
    +screen('max', 767)
      width: 130px
      height: 130px
  &__caption
    margin: 1rem 0
    line-height: 1.35
    display: block
    +screen('max', 767)
      +fs(12px)
  &__info
    display: flex
    justify-content: space-between
    align-items: center
  &__price
    +fs(20px)
    font-weight: 700
    color: #595959
    +screen('max', 767)
      +fs(12px)
  &__more
    border-radius: 10px
    padding: 1rem 2rem
    +screen('max', 767)
      +fs(12px)
      margin-top: 1.5rem
  &__cat
    max-width: 276px
    display: block
    margin: 5rem auto 0
  &__btn-more
    margin: 20px auto 0
    width: 200px
    display: block
    +screen('min', 1024)
      display: none
    +screen('max', 767)
      +fs(14px)
      padding: 10px 20px
      width: 160px
  .callback-mini
    grid-column: 1 / span 4
    grid-row: 3 / span 4
    +screen('max', 1690)
      grid-column: 1 / span 3
    +screen('max', 1150)
      grid-column: 1 / span 2
    +screen('max', 1023)
      display: none