mixin goods(title='Изделия, использованные в проекте')
  include ../callback/callback
  +b.goods
    +e.inner.inner
      +e.left
        select(name="goods")
          option(value="Торговые стеллажи" selected) Торговые стеллажи
          option(value="Кассовые прилавки") Кассовые прилавки
          option(value="Холодильные витрины") Холодильные витрины
          option(value="Холодильные горки") Холодильные горки
          option(value="Холодильные бонеты") Холодильные бонеты
          option(value="Морозильные лари") Морозильные лари
          option(value="Холодильные сплит-системы") Холодильные сплит-системы
          option(value="Винотека") Винотека
          option(value="Подсобные помещения и хранение запасов") Подсобные помещения и хранение запасов
          option(value="Категория каталога") Категория каталога
        +e.nav
          +e.nav-item.active Торговые стеллажи
            svg(width='8' height='13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M.717.828a1.026 1.026 0 0 0 .082 1.354L5.296 6.5.8 10.818c-.364.349-.4.955-.082 1.354a.822.822 0 0 0 1.234.09l5.25-5.04c.19-.182.299-.445.299-.722 0-.277-.109-.54-.299-.722L1.951.738a.822.822 0 0 0-1.234.09Z' fill='#595959')
          +e.nav-item Кассовые прилавки
            svg(width='8' height='13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M.717.828a1.026 1.026 0 0 0 .082 1.354L5.296 6.5.8 10.818c-.364.349-.4.955-.082 1.354a.822.822 0 0 0 1.234.09l5.25-5.04c.19-.182.299-.445.299-.722 0-.277-.109-.54-.299-.722L1.951.738a.822.822 0 0 0-1.234.09Z' fill='#595959')
          +e.nav-item Холодильные витрины
            svg(width='8' height='13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M.717.828a1.026 1.026 0 0 0 .082 1.354L5.296 6.5.8 10.818c-.364.349-.4.955-.082 1.354a.822.822 0 0 0 1.234.09l5.25-5.04c.19-.182.299-.445.299-.722 0-.277-.109-.54-.299-.722L1.951.738a.822.822 0 0 0-1.234.09Z' fill='#595959')
          +e.nav-item Холодильные горки
            svg(width='8' height='13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M.717.828a1.026 1.026 0 0 0 .082 1.354L5.296 6.5.8 10.818c-.364.349-.4.955-.082 1.354a.822.822 0 0 0 1.234.09l5.25-5.04c.19-.182.299-.445.299-.722 0-.277-.109-.54-.299-.722L1.951.738a.822.822 0 0 0-1.234.09Z' fill='#595959')
          +e.nav-item Холодильные бонеты
            svg(width='8' height='13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M.717.828a1.026 1.026 0 0 0 .082 1.354L5.296 6.5.8 10.818c-.364.349-.4.955-.082 1.354a.822.822 0 0 0 1.234.09l5.25-5.04c.19-.182.299-.445.299-.722 0-.277-.109-.54-.299-.722L1.951.738a.822.822 0 0 0-1.234.09Z' fill='#595959')
          +e.nav-item Морозильные лари
            svg(width='8' height='13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M.717.828a1.026 1.026 0 0 0 .082 1.354L5.296 6.5.8 10.818c-.364.349-.4.955-.082 1.354a.822.822 0 0 0 1.234.09l5.25-5.04c.19-.182.299-.445.299-.722 0-.277-.109-.54-.299-.722L1.951.738a.822.822 0 0 0-1.234.09Z' fill='#595959')
          +e.nav-item Холодильные сплит-системы
            svg(width='8' height='13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M.717.828a1.026 1.026 0 0 0 .082 1.354L5.296 6.5.8 10.818c-.364.349-.4.955-.082 1.354a.822.822 0 0 0 1.234.09l5.25-5.04c.19-.182.299-.445.299-.722 0-.277-.109-.54-.299-.722L1.951.738a.822.822 0 0 0-1.234.09Z' fill='#595959')
          +e.nav-item Винотека
            svg(width='8' height='13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M.717.828a1.026 1.026 0 0 0 .082 1.354L5.296 6.5.8 10.818c-.364.349-.4.955-.082 1.354a.822.822 0 0 0 1.234.09l5.25-5.04c.19-.182.299-.445.299-.722 0-.277-.109-.54-.299-.722L1.951.738a.822.822 0 0 0-1.234.09Z' fill='#595959')
          +e.nav-item Подсобные помещения и хранение запасов
            svg(width='8' height='13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M.717.828a1.026 1.026 0 0 0 .082 1.354L5.296 6.5.8 10.818c-.364.349-.4.955-.082 1.354a.822.822 0 0 0 1.234.09l5.25-5.04c.19-.182.299-.445.299-.722 0-.277-.109-.54-.299-.722L1.951.738a.822.822 0 0 0-1.234.09Z' fill='#595959')
          +e.nav-item Категория каталога
            svg(width='8' height='13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M.717.828a1.026 1.026 0 0 0 .082 1.354L5.296 6.5.8 10.818c-.364.349-.4.955-.082 1.354a.822.822 0 0 0 1.234.09l5.25-5.04c.19-.182.299-.445.299-.722 0-.277-.109-.54-.299-.722L1.951.738a.822.822 0 0 0-1.234.09Z' fill='#595959')
      +e.right
        - for(var i=0; i<10; i++){
          +e.content
            +e.list
              - for(var k=0; k<8; k++){
                +e.item
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.info
                    +e.P.price 11 924 руб.
                    +e.A.more.btn_green Подробнее
              - }
              +callback('3')
              - for(var l=0; l < 8; l++){
                +e.item
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.info
                    +e.P.price 11 924 руб.
                    +e.A.more.btn_green Подробнее
              - }
            +e.A.cat.btn_orange(href='#') Перейти в каталог
        -}