.goods
  margin: 4rem 0
  &__inner
    max-width: 1688px
    display: grid
    grid-template-columns: 256px 1fr
    grid-gap: 30px
  &__left
    .select2-container
      width: 100%
      +screen('min', 601)
        display: none
  &__nav
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25))
    +screen('max', 600)
      display: none
  &__nav-item
    border: 1px solid #E5E5E5
    border-bottom-width: 0
    height: 70px
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 13px 10px 20px
    position: relative
    font-weight: 700
    box-sizing: border-box
    line-height: 1.35
    cursor: pointer
    transition: .5s ease
    user-select: none
    &:first-of-type
      border-radius: 20px 20px 0 0
    &:last-of-type
      border-bottom-width: 1
      border-radius: 0 0 20px 20px
    &.active
      background: $c4
      color: #fff
      path
        fill: #fff
    svg
      flex-shrink: 0
    path
      transition: .5s ease
  &__content
    display: none
    &:first-of-type
      display: block
  &__list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 30px
  &__item
    background: #FFFFFF
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
    border-radius: 20px
    padding: 2rem
    box-sizing: border-box
  &__pic
    width: 268px
    height: 268px
    object-fit: contain
    margin: 0 auto
    display: block
  &__caption
    margin: 1rem 0
    line-height: 1.35
    display: block
  &__info
    display: flex
    justify-content: space-between
    align-items: center
  &__price
    +fs(20px)
    font-weight: 700
    color: #595959
  &__more
    border-radius: 10px
    padding: 1rem 2rem
  &__cat
    max-width: 276px
    display: block
    margin: 5rem auto 0
  .callback-mini
    grid-column: 1 / span 4