//- mixins
include ../static/pug/breadcrumb
include ../static/pug/head
include ../modules/viewed/viewed


+head('Оформление заказа')
body
  +header()
  +breadcrumb(['Главная', 'Оформление заказа'], 'Оформление заказа')
  include ../modules/basket/empty
  +viewed('Торговое оборудование от производителя')
  include ../modules/footer/footer
  include ../static/pug/scripts
