//- mixins
include ../static/pug/breadcrumb
include ../static/pug/head
include ../modules/copeq/banner
include ../modules/goods/goods
include ../modules/callback/callback
include ../modules/callback/form


+head('Оснащение магазина продуктов')
body
  +header()
  +banner('2')
  include ../modules/solution/solution-type
  +goods('Оборудование, необходимое при оснащении продуктового магазина')
  include ../modules/work/work
  +b.plane
    +e.inner.inner
      +e.H2.title План проекта
      +e.P.sign.sign-box Наш отдел планирования может разработать для вас индивидуальный проект бесплатно
      +e.list
        +e.A.item(href="/img/plane-1.png" data-fancybox="fa")
          +e.IMG.pic(src='/img/plane-1.png' alt='')
        +e.A.item(href="/img/plane-2.png" data-fancybox="fa")
          +e.IMG.pic(src='/img/plane-2.png' alt='')
  +b.vis
    +e.inner.inner
      +e.H2.title 3D визуализация проекта
      +e.slider
        +e.slide
          +e.IMG.pic(src='/img/vis.jpg' alt='')
        +e.slide
          +e.IMG.pic(src='/img/vis.jpg' alt='')
        +e.slide
          +e.IMG.pic(src='/img/vis.jpg' alt='')
  include ../modules/solution/solution-mini
  +form('Бесплатная консультация по оснащению')
  include ../modules/clients/clients-mini--white
  include ../modules/footer/footer
  include ../static/pug/scripts