//- mixins
include ../static/pug/breadcrumb
include ../static/pug/head
include ../modules/copeq/banner
include ../modules/callback/callback
include ../modules/callback/form


+head('Комплексное оснащение')
body
  +header()
  +breadcrumb(['Главная', 'Комплексное оснащение'], 'Комплексное оснащение')
  +banner('1')
  +b.copeq-list
    +e.inner.inner
      +e.H2.title Проектируем и оснащаем предприятия любого формата
      +e.row
        +e.col.green
          +e.head
            +e.P.caption Оснащение продовольственных магазинов
            +e.IMG.icon(src='/icon/copeq-icon-1.svg' alt='')
          +e.UL.registry
            each item in ["Магазин Фасоль под ключ","Продуктовый магазин","Универсам","Магазин-дискаунтер","Булочные и кондитерские","Гастроном","Мясной магазин","Овощной магазин","Рыбный магазин","Винные магазины","Алкомаркет","Рынки и магазины фермерских продуктов",]
              +e.LI.item
                +e.A.link(href="#")=item
          +e.BUTTON.open Развернуть
        +e.col.orange
          +e.head
            +e.P.caption Оснащение непродовольственных магазинов
            +e.IMG.icon(src='/icon/copeq-icon-2.svg' alt='')
          +e.UL.registry
            each item in ["Оснащение АЗС","Зоомагазин","Магазин спортивного питания и товаров","Магазин хозтоваров","Магазин строительных инструментов","Магазин электроники","Магазин детских товаров","Цветочный магазин","Книжный магазин",]
              +e.LI.item
                +e.A.link(href="#")=item
          +e.BUTTON.open Развернуть
        +e.col.blue
          +e.head
            +e.P.caption Оснащение предприятий общественного питания
            +e.IMG.icon(src='/icon/copeq-icon-3.svg' alt='')
          +e.UL.registry
            each item in ["Ресторан","Пекарня","Бар","Кофейня","Кофе корнер","Бистро","Кулинария","Фуд корт","Столовая",]
              +e.LI.item
                +e.A.link(href="#")=item
          +e.BUTTON.open Развернуть
  +callback('2')
  include ../modules/solution/solution
  include ../modules/work/work
  +b.copeq-map
    +e.IMG.pic(src='/img/map.png' alt='')
    +e.inner.inner
      +e.info
        +e.line
          +e.IMG.icon(src='/icon/icon-map-1.svg' alt='')
          +e.content
            +e.P.title.display-2
              span Представительство 
              |в регионах
            +e.P.sign Открываем магазины и предприятия общепита во всех городах России.
        +e.line
          +e.IMG.icon(src='/icon/icon-map-2.svg' alt='')
          +e.content
            +e.P.title.display-2
              span Доставка 
              |транспортной компанией
            +e.P.sign Осуществляем доставку транспортной компанией на ваш выбор.
      +e.A.btn.btn_green.js-open-modal(href='#callback') Оставить заявку на оснащение
  +b.copeq-step
    +e.H2.title.text-center Этапы комплексного оснащения
    +e.container
      +e.IMG.pic(src='/img/step.png' alt='')
      +e.wrap
        +e.P.sign Изучаем план схемы помещения
        +e.P.sign Разрабатываем
          br
          | концепцию
        +e.P.sign Разрабатываем 
          br
          | дизайн-проект
        +e.P.sign Расстановка оборудования согласно планировки помещения
        +e.P.sign Подготовка объектов к открытию
        +e.P.sign Производим монтаж оборудования и пуско-наладочные работы
        +e.P.sign Подбираем и изготавливаем оборудование и мебель
        +e.P.sign Составление 
          br
          | сметы
  +form('Бесплатная консультация по оснащению')
  include ../modules/clients/clients-mini--white
  include ../modules/footer/footer
  include ../static/pug/scripts
