//- mixins
include ../static/pug/breadcrumb
include ../static/pug/head
include ../modules/copeq/banner
include ../modules/callback/callback
include ../modules/callback/form


+head('Торговая мебель на заказ')
body
  +header()
  +banner('2', 'Торговая мебель на заказ')
  include ../modules/solution/solution-furniture
  include ../modules/why/why
  include ../modules/gallery_work/gallery_work
  +form('Бесплатная консультация по оснащению')
  +b.content-text.section
    +e.inner.inner
      +e.txt 
        h2 Заголовок
        p В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. А также непосредственные участники технического прогресса будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но разбавленное изрядной долей эмпатии, рациональное мышление предопределяет высокую востребованность модели развития... 
        .hidden
          p В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. А также непосредственные участники технического прогресса будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но разбавленное изрядной долей эмпатии, рациональное мышление предопределяет высокую востребованность модели развития... 
        a(href="#" class="toogle-text")  Читать далее....
  include ../modules/footer/footer
  include ../static/pug/scripts
