//- mixins
include ../static/pug/breadcrumb
include ../static/pug/head
include ../modules/callback/form
include ../modules/callback/callback


+head('Новости')
body
  +header()
  +breadcrumb(['Главная', 'Новости'], 'Новости')
  +b.news
    +e.inner.inner
      +e.H1.title.text-center Новости
      +e.list
        +e.A.link(href="#")
          +e.IMG.pic(src='/img/news-1.png' alt='')
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link_bg(href="#")
          +e.IMG.pic_bg(src='/img/news-2.png' alt='')
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link_nopic(href="#")
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link(href="#")
          +e.IMG.pic(src='/img/news-3.png' alt='')
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link(href="#")
          +e.IMG.pic(src='/img/news-4.png' alt='')
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link_bg(href="#")
          +e.IMG.pic_bg(src='/img/news-5.png' alt='')
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +callback('1')
        +e.A.link_bg(href="#")
          +e.IMG.pic_bg(src='/img/news-6.png' alt='')
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link_nopic(href="#")
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link_bg(href="#")
          +e.IMG.pic_bg(src='/img/news-7.png' alt='')
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link(href="#")
          +e.IMG.pic(src='/img/news-8.png' alt='')
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link(href="#")
          +e.IMG.pic(src='/img/news-9.png' alt='')
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link(href="#")
          +e.IMG.pic(src='/img/news-10.png' alt='')
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link_nopic(href="#")
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link(href="#")
          +e.IMG.pic(src='/img/news-1.png' alt='')
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
        +e.A.link_bg(href="#")
          +e.IMG.pic_bg(src='/img/news-2.png' alt='')
          +e.caption Завод по производству стеллажей "Евромаркет" предлагает
          +e.sign Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". 
      +b.pagination_between
        +e.A.more.btn_green(href="#") Показать еще
        +e.UL.list
          +e.LI.item
            +e.A.link.active(href='#') 1
          +e.LI.item
            +e.A.link(href='#') 2
          +e.LI.item
            +e.A.link(href='#') 3
          +e.LI.item
            +e.A.link(href='#') 4
          +e.LI.item
            +e.A.link(href='#') 5
          +e.LI.item
            +e.A.link(href='#') 6
          +e.LI.item
            +e.A.link(href='#') 7
          +e.LI.item
            +e.A.link(href='#') ...
          +e.LI.end
            +e.A.next(href="#") Следующая страница
  +form('Бесплатная консультация по оснащению')
  +b.content-text.section
    +e.inner.inner
      +e.txt
        h2 Заголовок
        p В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. А также непосредственные участники технического прогресса будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но разбавленное изрядной долей эмпатии, рациональное мышление предопределяет высокую востребованность модели развития... 
        .hidden
          p В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. А также непосредственные участники технического прогресса будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но разбавленное изрядной долей эмпатии, рациональное мышление предопределяет высокую востребованность модели развития... 
  include ../modules/footer/footer
  include ../static/pug/scripts
