//- mixins
include ../static/pug/breadcrumb
include ../static/pug/head
include ../modules/copeq/banner
include ../modules/goods/goods
include ../modules/callback/form
include ../modules/callback/consult


+head('Сеть европейских пекарен')
body
  +header()
  +b.portfolio-heading(style="background: linear-gradient(90deg, rgba(22, 22, 22, 0.8) 38.02%, rgba(22, 22, 22, 0) 100%), url(/img/portfolio-single-1.jpg)")
    +e.inner.inner
      +breadcrumb(['Главная', 'Сеть европейских пекарен'], 'Сеть европейских пекарен')
      +e.content
        +e.H1.title Сеть европейских пекарен
          span "Мудрый Пекарь"
        +e.txt Завод-производитель предлагает оснащение торговых предприятий и заведений общепита по заводским ценам под ключ. Мы предлагаем комплексные решения для создания эффективного предприятия торговли и общепита.
  +b.portfolio-info.section
    +e.inner.inner
      +e.IMG.pic(src='/icon/icon-logo-1.svg' alt='')
      +e.text
        p Следует отметить, что базовый вектор развития однозначно определяет каждого участника как способного принимать собственные решения касаемо стандартных подходов. Наше дело не так однозначно, как может показаться: реализация намеченных плановых заданий, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для соответствующих условий активизации.
        p В своём стремлении улучшить пользовательский опыт мы упускаем, что явные признаки победы институционализации разоблачены.
  +b.porfolio-big-slider
    +e.slide
      +e.IMG.pic(src='/img/portfolio-big-1.jpg' alt='')
    +e.slide
      +e.IMG.pic(src='/img/portfolio-big-1.jpg' alt='')
    +e.slide
      +e.IMG.pic(src='/img/portfolio-big-1.jpg' alt='')
    +e.slide
      +e.IMG.pic(src='/img/portfolio-big-1.jpg' alt='')
  +b.task-info.section
    +e.inner.inner
      +e.content
        +e.H2.title Постановка задачи
        +e.txt
          p Следует отметить, что базовый вектор развития однозначно определяет каждого участника как способного принимать собственные решения касаемо стандартных подходов. 
          p Наше дело не так однозначно, как может показаться: реализация намеченных плановых заданий, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для соответствующих условий активизации.
          p В своём стремлении улучшить пользовательский опыт мы упускаем, что явные признаки победы институционализации разоблачены.
      +e.pictures
        +e.IMG.pic(src='/img/task-1.png' alt='')
        +e.IMG.pic(src='/img/task-2.png' alt='')
        +e.IMG.pic(src='/img/task-3.png' alt='')
        +e.IMG.pic(src='/img/task-4.png' alt='')
  +b.decision-info
    +e.inner.inner
      +e.H2.title.text-center Решения
      +e.list
        +e.item В своём стремлении улучшить пользовательский опыт мы упускаем, что акционеры крупнейших компаний смешаны.
        +e.item В своём стремлении улучшить пользовательский опыт мы упускаем, что акционеры крупнейших компаний смешаны.
        +e.item В своём стремлении улучшить пользовательский опыт мы упускаем, что акционеры крупнейших компаний смешаны.
        +e.item В своём стремлении улучшить пользовательский опыт мы упускаем, что акционеры крупнейших компаний смешаны.
        +e.item В своём стремлении улучшить пользовательский опыт мы упускаем, что акционеры крупнейших компаний смешаны.
        +e.item В своём стремлении улучшить пользовательский опыт мы упускаем, что акционеры крупнейших компаний смешаны.
  +b.result-info.section
    +e.inner.inner
      +e.IMG.pic(src='/img/portfolio-big-1.jpg' alt='')
      +e.content
        +e.H2.title Результат
        +e.txt
          p Следует отметить, что базовый вектор развития однозначно определяет каждого участника как способного принимать собственные решения касаемо стандартных подходов. 
          p Наше дело не так однозначно, как может показаться: реализация намеченных плановых заданий, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для соответствующих условий активизации.
          p В своём стремлении улучшить пользовательский опыт мы упускаем, что явные признаки победы институционализации разоблачены.
  +b.conclusion
    +e.inner.inner
      +e.content
        +e.H2.title Вывод
        +e.txt
          p Следует отметить, что базовый вектор развития однозначно определяет каждого участника как способного принимать собственные решения касаемо стандартных подходов. 
          p Наше дело не так однозначно, как может показаться: реализация намеченных плановых заданий, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для соответствующих условий активизации.
      +e.quote
        +e.P.text Наше дело не так однозначно, как может показаться: реализация намеченных плановых заданий, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для соответствующих условий активизации.
        +e.pers
          +e.IMG.pic(src='/img/icon-quote-1.png' alt='')
          +e.pers-info
            +e.P.name Анатолий Голодный
            +e.P.sign Главный дегустатор
  +goods()
  +b.similar
    +e.inner.inner
      +e.H2.title Похожие проекты
      +e.list
        +e.item
          +e.IMG.pic(src='/img/similar-1.png' alt='')
          +e.content
            +e.P.caption.display-2 Сеть “Седьмой континент”
            +e.P.txt Сеть «Седьмой континент» состоит из супермаркетов и гипермаркетов.
            +e.A.more.btn_green(href="#") Смотреть проект
        +e.item
          +e.IMG.pic(src='/img/similar-2.png' alt='')
          +e.content
            +e.P.caption.display-2 Супермаркет «Премьер». Сургут.
            +e.P.txt Завод торгового оборудования «Евромаркет» создал оборудование для крупного супермаркета «Премьер». В супермаркете «Премьер» есть большое количество отделов: овощные, мясные, кондитерские, бакалейные, алкогольные и прочее.
            +e.A.more.btn_green(href="#") Смотреть проект
  +form()
  include ../modules/clients/clients-mini--white
  include ../modules/footer/footer
  include ../static/pug/scripts
