//- mixins
include ../modules/callback/callback
include ../static/pug/breadcrumb
include ../static/pug/head
include ../modules/viewed/viewed


+head('Овощной стеллаж с зеркальным фризом и подсветкой полок')
body
  +header()
  +breadcrumb(['Главная', 'Каталог торгового оборудования', 'Торговые стеллажи', 'Овощной стеллаж с зеркальным фризом и подсветкой полок'], 'Овощной стеллаж с зеркальным фризом и подсветкой полок')
  include ../modules/products/single-1
  include ../modules/staff/staff
  include ../modules/interest/interest
  +callback('2')
  +viewed()
  include ../modules/clients/clients-mini
  +b.content-text.section
    +e.inner.inner
      +e.txt 
        h2 Заголовок
        p В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. А также непосредственные участники технического прогресса будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но разбавленное изрядной долей эмпатии, рациональное мышление предопределяет высокую востребованность модели развития... 
        .hidden
          p В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. А также непосредственные участники технического прогресса будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но разбавленное изрядной долей эмпатии, рациональное мышление предопределяет высокую востребованность модели развития... 
        a(href="#" class="toogle-text")  Читать далее....
  include ../modules/footer/footer
  include ../static/pug/scripts
