//- mixins
include ../modules/callback/callback
include ../modules/callback/form
include ../modules/search/search
include ../static/pug/breadcrumb
include ../static/pug/head


+head('Поиск')
body
  +header()
  +breadcrumb(['Главная', 'Поиск'], 'Поиск')
  +search('full')
  +form('Не нашли, что искали?')
  +b.content-text.section
    +e.inner.inner
      +e.txt 
        h2 Заголовок
        p В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. А также непосредственные участники технического прогресса будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но разбавленное изрядной долей эмпатии, рациональное мышление предопределяет высокую востребованность модели развития... 
        .hidden
          p В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. А также непосредственные участники технического прогресса будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но разбавленное изрядной долей эмпатии, рациональное мышление предопределяет высокую востребованность модели развития... 
        a(href="#" class="toogle-text")  Читать далее....
  include ../modules/footer/footer
  include ../static/pug/scripts
