//- mixins
include ../static/pug/breadcrumb
include ../modules/callback/callback
include ../static/pug/head
include ../modules/callback/form
include ../modules/viewed/viewed
include ../modules/goods/goods
include ../modules/callback/form-equipment


+head('Страница')
body
  +header()
  +breadcrumb(['Главная', 'Страница'], 'Страница')
  +b.content
    +e.inner.inner
      +e.head
        +e.box
          +e.H1.title Заголовок страницы
          +e.P.sign Завод-производитель предлагает оснащение торговых предприятий и заведений общепита по заводским ценам под ключ. 
        +e.IMG.pic(src='/img/content-1.png' alt='')
      +e.info
        +e.left
          +e.text
            h2 Заголовок
            p Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". Как производители стеллажей мы работаем с 2010 года и за этот срок выполнили сотни проектов, завоевав большую лояльность клиентов. На сегодняшний день завод по производству стеллажей обеспечивает непрерывное изготовление стеллажей почти всех известных модификаций. Мощности наших производственных линий позволяют не только оперативно выполнять заказы, но и держать на складе образцы готового торгового оборудования.
            p Производство обладает собственной покрасочной линией швейцарского производства, что позволяет осуществлять порошковую окраску изготовленных металлических стеллажей в любой цвет RAL. Наше 
              a(href="#")  торговое оборудование 
              | соответствует мировым стандартам качества.
            h2 Заголовок
            p Все производимые стеллажи из металла уже в стандартном варианте имеют повышенную грузоподъемность: 100 – 120 кг. Секрет такого преимущества в технологиях производства, использования электронных и полуавтоматических станков при изготовлении стеллажей. Однако это далеко не предел, в зависимости от потребности, стеллажи, производимые на заказ, могут обладать теми характеристиками, которые необходимы клиенту.
            +callback('4')
            p Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". Как производители стеллажей мы работаем с 2010 года и за этот срок выполнили сотни проектов, завоевав большую лояльность клиентов. На сегодняшний день завод по производству стеллажей обеспечивает непрерывное изготовление стеллажей почти всех известных модификаций. Мощности наших производственных линий позволяют не только оперативно выполнять заказы, но и держать на складе образцы готового торгового оборудования.
            p Все производимые стеллажи из металла уже в стандартном варианте имеют повышенную грузоподъемность: 100 – 120 кг. Секрет такого преимущества в технологиях производства, использования электронных и полуавтоматических станков при изготовлении стеллажей. Однако это далеко не предел, в зависимости от потребности, стеллажи, производимые на заказ, могут обладать теми характеристиками, которые необходимы клиенту.
            img(src="/img/text-1.png", alt="")
            p Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". Как производители стеллажей мы работаем с 2010 года и за этот срок выполнили сотни проектов, завоевав большую лояльность клиентов. На сегодняшний день завод по производству стеллажей обеспечивает непрерывное изготовление стеллажей почти всех известных модификаций. Мощности наших производственных линий позволяют не только оперативно выполнять заказы, но и держать на складе образцы готового торгового оборудования.
            +goods('', true)
            h2 Заголовок
            p Производство стеллажей – основное направление деятельности завода стеллажей "Евромаркет". Как производители стеллажей мы работаем с 2010 года и за этот срок выполнили сотни проектов, завоевав большую лояльность клиентов. На сегодняшний день завод по производству стеллажей обеспечивает непрерывное изготовление стеллажей почти всех известных модификаций. Мощности наших производственных линий позволяют не только оперативно выполнять заказы, но и держать на складе образцы готового торгового оборудования.
            +b.content-slider
              - for(var i = 0; i < 6; i++ ){
                +e.slide
                  +e.IMG.pic(src='/img/text-1.png' alt='')
              -}
            h2 Заголовок
            p Производство обладает собственной покрасочной линией швейцарского производства, что позволяет осуществлять порошковую окраску изготовленных металлических стеллажей в любой цвет RAL. Наше 
              a(href="#")  торговое оборудование 
              | соответствует мировым стандартам качества.
            +e.links
              p Вас также может заинтересовать:
              a(href="#") Наше торговое оборудование соответствует мировым стандартам качества.
              a(href="#") Порошковая окраска изготовленных металлических стеллажей в любой цвет RAL. 
              a(href="#") Производство обладает собственной покрасочной линией швейцарского производства, 
        +e.right
          +form-eq('sticky')
  include ../modules/solution/solution-mini
  include ../modules/interest/interest
  +callback('2')
  +viewed()
  +form('Бесплатная консультация по оснащению')
  +b.content-text.section
    +e.inner.inner
      +e.txt
        h2 Заголовок
        p В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. А также непосредственные участники технического прогресса будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но разбавленное изрядной долей эмпатии, рациональное мышление предопределяет высокую востребованность модели развития... 
        .hidden
          p В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. А также непосредственные участники технического прогресса будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но разбавленное изрядной долей эмпатии, рациональное мышление предопределяет высокую востребованность модели развития... 
  include ../modules/footer/footer
  include ../static/pug/scripts
