+b.catalog-main-list
  +e.inner.inner
    +e.A.back(href="#") Каталог торгового оборудования
    +e.H1.title.title Торговые стеллажи
    +e.wrap
      +e.sidebar
        +e.mobile-menu-list
          +e.P.holder Уточните категорию
          select
            option(value="Торговые стеллажи") Торговые стеллажи
            option(value="Пристенные стеллажи") Пристенные стеллажи
            option(value="Сетачтые стеллажи") Сетачтые стеллажи
            option(value="Островные стеллажи") Островные стеллажи
            option(value="Угловые стеллажи") Угловые стеллажи
            option(value="Перфорированные стеллажи") Перфорированные стеллажи
            option(value="Торцевые стеллажи") Торцевые стеллажи
            option(value="Стеллажи серии “Волна”") Стеллажи серии “Волна”
            option(value="Стеллажи эконом класса") Стеллажи эконом класса
            option(value="Металлические стеллаж") Металлические стеллаж
        +b.catalog-nav
          +e.A.cat(href="#") Расчитать стоимость
          +e.A.cat(href="#") Категория каталога
          +e.line
            +e.P.caption Категория
            +e.UL.box
              +e.LI.item_back
                +e.A.link(href="#") Каталог торгового оборудования
              +e.LI.item
                +e.A.link.active(href="#") Торговые стеллажи
                +e.UL.levels
                  +e.LI.item
                    +e.A.link(href="#") Пристенные стеллажи
                  +e.LI.item
                    +e.A.link(href="#") Сетачтые стеллажи
                  +e.LI.item
                    +e.A.link(href="#") Островные стеллажи
                  +e.LI.item
                    +e.A.link(href="#") Угловые стеллажи
                  +e.LI.item
                    +e.A.link(href="#") Перфорированные стеллажи
                  +e.LI.item
                    +e.A.link(href="#") Торцевые стеллажи
                  +e.LI.item
                    +e.A.link(href="#") Стеллажи серии “Волна”
                  +e.LI.item
                    +e.A.link(href="#") Стеллажи эконом класса
                  +e.LI.item
                    +e.A.link(href="#") Металлические стеллаж
          +e.FORM.filtr
            +e.line
              +e.P.caption Фильтры
              +e.filter
                +e.P.filter-title Название фильтра
                +e.LABEL.toggl.toggl__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.box
              +e.slider
                +e.P.caption Цена
                #price
                +e.slider-wrap
                  +e.slider-val#price-val-lower
                  +e.slider-val#price-val-upper
            +e.line
              +e.P.caption Название закрытого фильтра
              +e.list
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Очень длинное название параметра 4
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Очень длинное название параметра 4
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Очень длинное название параметра 4
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Очень длинное название параметра 4
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Очень длинное название параметра 4
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Очень длинное название параметра 4
              +e.BUTTON.more Показать все
            +e.line
              +e.P.caption Название закрытого фильтра
              +e.list
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Параметр 1
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Параметр 2
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Параметр 3
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Очень длинное название параметра 4
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Параметр 5
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Параметр 6
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Параметр 7
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Параметр 8
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Параметр 9
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Параметр 10
                +e.LABEL.checkbox.checkbox__
                  +e.INPUT.hidden(type="checkbox")
                  +e.SPAN.text Параметр 11
              +e.BUTTON.more Показать все
            +e.line
              +e.P.caption Длинное название закрытого фильтра
              +e.list
                +e.LABEL.radio.radio__
                  +e.INPUT.hidden(type="radio" name="param")
                  +e.SPAN.text Параметр 1
                +e.LABEL.radio.radio__
                  +e.INPUT.hidden(type="radio" name="param")
                  +e.SPAN.text Параметр 2
                +e.LABEL.radio.radio__
                  +e.INPUT.hidden(type="radio" name="param")
                  +e.SPAN.text Параметр 3
                +e.LABEL.radio.radio__
                  +e.INPUT.hidden(type="radio" name="param")
                  +e.SPAN.text Параметр 4
                +e.LABEL.radio.radio__
                  +e.INPUT.hidden(type="radio" name="param")
                  +e.SPAN.text Параметр 5
              +e.BUTTON.more Показать все
            +e.BUTTON.apply.btn_green Применить
            +e.BUTTON.reset(type="reset") Сбросить
            +e.tooltyp
              +e.BUTTON.use.btn_green Применить
              +e.BUTTON.reset(type="reset") Сбросить
      +e.content
        +e.P.sign Завод "Евромаркет" занимается продажей торгового оборудования для магазинов и супермаркетов различной направленности. Собственное производство позволяет предложить клиентам выгодные условия на комплексное оснащение. Изготавливаем крупными партиями и мелким оптом.
        +b.category-list
          +e.list_eight
            each item, idx in [ "Пристенные стеллажи", "Сетчатые стеллажи", "Островные стеллажи", "Угловые стеллажи", "Перфорированные стеллажи", "Баннер", "Торцевые стеллажи", "Стеллажи серии “Волна”", "Стеллажи эконом класса", "Металличекие стеллажи", "Островные стеллажи", "Угловые стеллажи", "Перфорированные стеллажи", "Торцевые стеллажи", "Перфорированные стеллажи", "Торцевые стеллажи",]
              if idx == 5
                +e.banner-mini
                  +e.IMG.img(src='/img/banner-catalog-mini.png' alt='')
                  +e.P.caption=item
              else
                +e.A.item(href="#")
                  +e.IMG.pic(src='/img/product-0.png' alt='')
                  +e.P.caption=item
          +e.list_three(data-attr="#three")
            each item, idx in ['Пристенные стеллажи', 'Сетчатые стеллажи','Островные стеллажи']
              +e.A.item_big(href="#")
                +e.IMG.pic_auto(src='/img/product-10.png' alt='')
                +e.P.caption_big=item
          +e.list_three(data-attr="#threetext")
            each item, idx in ['Сетчатые стеллажи','Островные стеллажи']
              +e.A.item_big(href="#")
                +e.IMG.pic_auto(src='/img/product-10.png' alt='')
                +e.P.caption_big=item
            +e.box
              +e.IMG.icon(src='/img/product-10.png' alt='')
              +e.info
                +e.P.holder Торговые стеллажи
                +e.A.link(href='#') Угловые стеллажи
                +e.A.link(href='#') Перфорированные стеллажи
                +e.A.link(href='#') Торцевые стеллажи
                +e.A.link(href='#') Стеллажи серии “Волна”
                +e.A.more(href="#") Показать все
        +b.catalog-faq
          +e.P.title Часто спрашивают
          +e.UL.list
            - for(var i = 0; i < 3; i++){
              +e.LI.item
                +e.A.link(href="#") Металлические
              +e.LI.item
                +e.A.link(href="#") Без полок
              +e.LI.item
                +e.A.link(href="#") Средней высоты
              +e.LI.item
                +e.A.link(href="#") Низкие
              +e.LI.item
                +e.A.link(href="#") Деревянные
            -}
        +b.catalog-sort
          +e.P.title Показывать:
          +e.A.link.active(href="#") Сначала дешевые
          +e.A.link(href="#") Сначала дорогие
          +e.mobile-nav
            +e.DETAILS.sorts
              summary Сначала дешевые
              +e.list
                +e.A.nav(href="#") Сначала дешевые
                +e.A.nav(href="#") Сначала дорогие
            +e.filter.js-open-filter Фильтры
        +e.elems
          +e.el
            +b.product
              +e.visible
                +e.top
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +b.product
              +e.visible
                +e.top
                  +e.sale Скидка!
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +b.product
              +e.visible
                +e.top
                  +e.sale Скидка!
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +e.IMG.bnr(src="/img/banner-catalog-middle.png")
          +e.el
            +b.product
              +e.visible
                +e.top
                  +e.best Бестселлер!
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +b.product
              +e.visible
                +e.top
                  +e.best Бестселлер!
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +b.product
              +e.visible
                +e.top
                  +e.best Бестселлер!
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +b.product
              +e.visible
                +e.top
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
        +e.banner
          picture
            source(media="(max-width: 600px)", srcset="/img/banner-catalog-full--mobile.png")
            +e.IMG.img(src='/img/banner-catalog-full.png' alt='')
        +e.elems
          +e.el
            +b.product
              +e.visible
                +e.top
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +b.product
              +e.visible
                +e.top
                  +e.sale Скидка!
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +b.product
              +e.visible
                +e.top
                  +e.sale Скидка!
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +b.product
              +e.visible
                +e.top
                  +e.sale Скидка!
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +b.product
              +e.visible
                +e.top
                  +e.best Бестселлер!
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +b.product
              +e.visible
                +e.top
                  +e.best Бестселлер!
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +b.product
              +e.visible
                +e.top
                  +e.best Бестселлер!
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
          +e.el
            +b.product
              +e.visible
                +e.top
                  a(href="#")
                    +e.IMG.pic(src='/img/catalog-1.png' alt='')
                +e.bottom
                  +e.prices
                    +e.new-price 11 924 руб.
                  +e.A.caption(href="#") Овощной стеллаж с металлическим полками без фриза
                  +e.A.more(href='#') Смотреть варианты размеров
              +e.hidden
                +e.item
                  p Тип охлаждения
                  p Динамическое
                +e.item
                  p Холодильный агрегат
                  p Выносное / встроенное
                +e.item
                  p Температурный режим
                  p 0 - 45°C
                +e.item
                  p Конструкция
                  p с прямым стеклом
                +e.item
                  p Назначение
                  a(href="#") Гастрономическая
                +e.item
                  p Габаритные размеры
                  p 2000 мм x 9999 мм х 5555 мм
                +e.BUTTON.buy.btn_green Купить
        +b.pagination
          +e.UL.list
            +e.LI.item
              +e.A.link.active(href='#') 1
            +e.LI.item
              +e.A.link(href='#') 2
            +e.LI.item
              +e.A.link(href='#') 3
            +e.LI.item
              +e.A.link(href='#') 4
            +e.LI.item
              +e.A.link(href='#') 5
            +e.LI.item
              +e.A.link(href='#') 6
            +e.LI.item
              +e.A.link(href='#') 7
            +e.LI.item
              +e.A.link(href='#') ...
            +e.LI.end
              +e.A.next(href="#") Следующая страница
        +b.catalog-faq
          +e.P.title Часто спрашивают
          +e.UL.list
            - for(var i = 0; i < 3; i++){
              +e.LI.item
                +e.A.link(href="#") Металлические
              +e.LI.item
                +e.A.link(href="#") Без полок
              +e.LI.item
                +e.A.link(href="#") Средней высоты
              +e.LI.item
                +e.A.link(href="#") Низкие
              +e.LI.item
                +e.A.link(href="#") Деревянные
            - }
        +callback('3')
        include ../popular/popular-cat
        include ../popular/popular-cat