mixin prodcat(title='Торговое оборудование для магазинов')
  +b.prodcat.section
    +e.inner.inner
      if title == 'Торговое оборудование для магазинов'
        +e.H1.title=title
        +e.P.sign.sign-box Завод "Евромаркет" занимается продажей торгового оборудования для магазинов и супермаркетов различной направленности. Собственное производство позволяет предложить клиентам выгодные условия на комплексное оснащение. Изготавливаем крупными партиями и мелким оптом.
      else
        +e.H2.title=title
      +e.list_five
        each item, idx in [ "Торговые стеллажи", "Торговые стойки", "Оборудование для кассовых зон", "Другое оборудованиедля магазинов", "Холодильное оборудование", "Торговая мебель", "Оборудование для ресторанов", "Рециркуляторы", "Покупательские тележки", "Брендированное оборудование",]
          +e.A.item(href="#")
            +e.IMG.pic_middle(src='/img/product-'+ idx +'.png' alt='')
            +e.P.caption=item
      +callback('1')
      +e.list_six
        each item, idx in ["Стеллажи для овощных магазинов", "Стеллажи для алкоголя", "Стеллажи для хлеба и выпечки", "Стойки для снеков", "Торговые стенды", "Рекламные стойки", "Деревянные стойки", "Стойки ресепшн", "Торговые островки",  "Барные стойки", "Кофе модули", "Кассовые стойки", "Прилавки", "Брендированные стеллажи", "Брендированные стойки",]
          if idx == 4
            +e.A.item_big(href="#")
              +e.IMG.pic_big(src='/img/product-mini-'+ idx +'.png' alt='')
              +e.P.caption_big=item
          else
            +e.A.item(href="#")
              +e.IMG.pic_small(src='/img/product-mini-'+ idx +'.png' alt='')
              +e.P.caption=item