+b.product-info
  +e.inner.inner
    +e.slider
      +e.slider-main
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
      +e.slider-thumb
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
    +e.content
      +e.H1.title Овощной стеллаж с зеркальным фризом и подсветкой полок
      +e.P.art Артикул: ПС001
      +e.prices
        +e.new-price 3 924 руб.
        +e.old-price 25 851
      +e.A.mgcall(href="#") Оптовые цены уточняйте у менеджеров
      +e.control
        +e.A.calc.btn_orange.js-open-modal(href="#calc") Рассчитать стоимость?
        +e.BUTTON.add.btn-outline_green В корзину
      +e.