include ../callback/callback-card
include ../callback/form-equipment
+b.product-info
  +e.inner.inner
    +e.left
      +b.product-main
        +e.pictures_full
          +e.IMG.img(src='/img/prod-1.png' alt='')
          +e.IMG.img(src='/img/prod-2.png' alt='')
          +e.IMG.img(src='/img/prod-3.png' alt='')
          +e.line
            +e.IMG.img(src='/img/prod-4.png' alt='')
            +e.IMG.img(src='/img/prod-5.png' alt='')
        +e.BUTTON.allgallery.btn-outline_green Открыть фотогалерею
      +e.line
        +e.H2.title Описание
        +e.text
          p ЦЕНЫ УКАЗАНЫ ЗА СТЕЛЛАЖ С ОДНОЙ СТОЙКОЙ ДЛЯ УСТАНОВКИ В РЯД, БЕЗ ЦОКОЛЯ, ОГРАНИЧИТЕЛЕЙ И ЦЕННИКОДЕРЖАТЕЛЕЙ
          p Используется для выкладки продуктов питания и непродовольственных товаров. Фриз стеллажа пристенного можно использовать для размещения бренда продукции, рекламы товара, важной информации.
          .hidden
            p В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. А также непосредственные участники технического прогресса будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но разбавленное изрядной долей эмпатии, рациональное мышление предопределяет высокую востребованность модели развития... 
          a(href="#" class="toogle-more bold") Показать еще
      +e.line
        +e.H2.title Характеристики
        +e.P.sign Покраска в любой цвет и комбинации цветов
        +e.UL.list
          +e.LI.item
            p Вид стеллажа
            p Пристенный
          +e.LI.item
            p Материал стеллажа
            p Сталь
          +e.LI.item
            p Толщина стали
            p Полки, стенки -0.8 мм, стойки 2.5 мм
          +e.LI.item
            p Нагрузка на стеллаж
            p До 900 кг (зависит от комплектации)
        +e.BUTTON.more Показать еще
      +e.line_desck
        +e.H2.title Все размеры подетально
        +e.TABLE.table.center
          thead
            tr
              th Характеристика
              th Sring D 938 BT
              th Sring D 1250 BT
              th Sring D 1563 BT
              th Sring D 1875 BT
          tbody
            tr
              td Габариты (Д*В*Г) мм
              td
                a(href="#") 938*1176*1073
              td
                a(href="#") 1250*1176*1073
              td
                a(href="#") 1563*1176*1073
              td
                a(href="#") 1875*1176*1073
            tr
              td Габариты в упаковке мм
              td
                a(href="#") 1038*1300*1173
              td
                a(href="#") 1350*1300*1173
              td
                a(href="#") 1663*1300*1173
              td
                a(href="#") 1975*1300*1173
            tr
              td Тип охлаждения
              td Статическое
              td Статическое
              td Статическое
              td Статическое
            tr
              td Микропроцессорный блок управления
              td
                img(src="/icon/icon-check-table.svg", alt="")
              td
                img(src="/icon/icon-check-table.svg", alt="")
              td
                img(src="/icon/icon-fall-table.svg", alt="")
              td
                img(src="/icon/icon-check-table.svg", alt="")
            tr
              td Тип оттайки
              td Автоматическая ТЭНом
              td Автоматическая ТЭНом
              td Автоматическая ТЭНом
              td Автоматическая ТЭНом
        +e.BUTTON.viewtable.btn-outline_green Показать все размеры
        +b.additionally
          +e.H2.title Дополнительные опции
          +e.buttons
            each item in ["Шторки","Дополнительная полка","Подсветка полки","Наклонная полка","Двухступенчатая выкладка","Подсветка фронта","Доска для нарезки \ весы","Крючок для пакетов","Держатели для ножей","Античих","Соеденительный комплект","Делитель","Упаковка"]
              +e.BUTTON.btn
                svg(width='26' height='26' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g
                    path(d='M13 .5a12.5 12.5 0 1 0 0 25 12.5 12.5 0 0 0 0-25ZM13 23a10 10 0 1 1 0-20 10 10 0 0 1 0 20Zm5-11.25h-3.75V8a1.25 1.25 0 0 0-2.5 0v3.75H8a1.25 1.25 0 0 0 0 2.5h3.75V18a1.25 1.25 0 0 0 2.5 0v-3.75H18a1.25 1.25 0 0 0 0-2.5Z' )
                  g.hidden
                    path(d='M13 .5a12.5 12.5 0 1 0 0 25 12.5 12.5 0 0 0 0-25ZM13 23a10 10 0 1 1 0-20 10 10 0 0 1 0 20Z' fill='#fff')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M19.551 8.43c.591.58.6 1.53.02 2.121l-6.876 7a1.5 1.5 0 0 1-2.14 0L7.43 14.37a1.5 1.5 0 1 1 2.14-2.102l2.055 2.092 5.805-5.91a1.5 1.5 0 0 1 2.121-.02Z' fill='#fff')
                span=item
          +e.call.btn_orange Рассчитать стоимость
        +b.option-repair.section
          +e.H2.title Варианты отделки
          +e.list
            +e.item
              +e.IMG.pic(src='/img/option-1.png' alt='')
              +e.content
                +e.P.caption Любой оттенок ЛДСП по каталогу Egger
                +e.text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
            +e.item
              +e.IMG.pic(src='/img/option-2.png' alt='')
              +e.content
                +e.P.caption Окраска фасада и экспозиции в любой цвет
                +e.text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
            +e.item
              +e.IMG.pic(src='/img/option-3.png' alt='')
              +e.content
                +e.P.caption Любой материал для фасада
                +e.text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
            +e.item
              +e.IMG.pic(src='/img/option-4.png' alt='')
              +e.content
                +e.P.caption Варианты остекления
                +e.text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
        +call_card('Замер')
        include ../hall/hall
    +e.right
      +e.sticky
        +b.product-main
          +e.H1.title Бонета холодильная Polair CARINO 1250-098 LG/М Plug-in
          +e.P.art Артикул: ПС001
          +e.prices
            +e.new-price 3 924 руб.
            +e.old-price 25 851
          +e.A.mgcall(href="#") Оптовые цены уточняйте у менеджеров
          +e.control
            +e.A.calc.btn_orange.js-open-modal(href="#calc") Рассчитать стоимость?
            +e.BUTTON.add.btn-outline_green В корзину
          +b.type-coldsupply
            +e.P.title Тип холодоснабжения 
            +e.control
              +e.BUTTON.btn.active
                svg(width='22' height='20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M1.947 2.032a1.306 1.306 0 0 0-.841.673L1 2.91v15.695l.11.223c.133.274.395.512.677.618.211.078.262.078 9.213.078 8.951 0 9.002 0 9.213-.078a1.29 1.29 0 0 0 .677-.618l.11-.223V2.909l-.106-.204a1.312 1.312 0 0 0-.614-.594l-.22-.102L11.079 2c-5.147 0-9.045.012-9.13.031Zm18.102.932.13.113.01 7.59c.009 5.424 0 7.627-.03 7.733a.364.364 0 0 1-.169.223c-.121.079-.274.079-8.99.079-8.716 0-8.869 0-8.99-.079a.364.364 0 0 1-.169-.223c-.03-.105-.039-2.309-.03-7.734l.01-7.589.13-.113.125-.114h17.848l.125.114Z' class="fill stroke" stroke-width='.3')
                  path(d='M10.106 3.73c-3.022.43-5.39 2.673-6.012 5.694-.082.4-.094.552-.094 1.35.004.827.012.94.106 1.394.41 1.902 1.487 3.483 3.103 4.548a7.138 7.138 0 0 0 3.374 1.116c.63.035 1.343-.008 1.851-.11a7.12 7.12 0 0 0 5.597-5.62c.126-.619.153-1.652.06-2.294a7.65 7.65 0 0 0-.482-1.78c-.967-2.251-2.947-3.829-5.331-4.26-.513-.09-1.66-.113-2.172-.038Zm1.565.802a6.425 6.425 0 0 1 2.897 1.045c.52.345 1.319 1.143 1.66 1.656.778 1.174 1.15 2.47 1.087 3.796a6.075 6.075 0 0 1-.658 2.525c-.849 1.718-2.438 2.935-4.379 3.35-.352.078-.528.09-1.213.09s-.861-.012-1.214-.09a6.238 6.238 0 0 1-1.585-.552 5.995 5.995 0 0 1-1.624-1.174 6.204 6.204 0 0 1-1.828-4.149C4.752 9.7 5.14 8.356 5.91 7.213c.329-.485 1.15-1.303 1.632-1.62 1.26-.838 2.732-1.218 4.13-1.061Z' class="fill stroke" stroke-width='.3')
                  path(d='M10.665 5.394c-.29.05-.618.156-.83.262-.273.137-.59.454-.716.712-.106.212-.11.243-.106.807.004.59.079 1.107.29 2.004l.074.316-.148.294a2.48 2.48 0 0 0-.2.513c-.05.254-.117.293-.395.219-.25-.067-.537-.223-1.151-.622-.618-.403-.88-.545-1.088-.58-.665-.105-1.03.595-.888 1.71.156 1.269.657 2.357 1.405 3.066.607.57 1.233.704 1.851.395.383-.192 1.021-.685 1.738-1.347l.332-.301.282-.004c.243-.004.364-.023.728-.129.09-.027.231.223.262.458.012.121.012.638-.003 1.15-.024.787-.02.963.035 1.143.262.908 1.417.615 2.673-.68.572-.592.912-1.136 1.155-1.844.105-.31.125-.415.125-.752 0-.489-.09-.747-.372-1.052-.297-.325-.947-.634-2.156-1.022l-.575-.184-.122-.211a2.411 2.411 0 0 0-.337-.43l-.223-.224.07-.133c.11-.2.463-.442 1.128-.779 1.002-.505 1.26-.716 1.307-1.068.066-.49-.536-1.041-1.515-1.393-.661-.235-1.03-.302-1.761-.314-.376-.007-.767 0-.869.02Zm1.808.912c.642.168 1.394.5 1.437.638.008.023-.282.196-.646.383-.36.188-.771.411-.912.501-.321.212-.626.513-.724.724l-.074.16-.321-.019a2.158 2.158 0 0 0-.971.145l-.168.07-.106-.532c-.149-.767-.204-1.366-.145-1.565.086-.278.442-.501.959-.595.372-.067 1.257-.02 1.671.09Zm-.884 3.33c.258.118.477.341.607.611.137.294.145.755.011 1.022-.223.454-.587.7-1.076.732a1.137 1.137 0 0 1-.94-.353c-.277-.278-.36-.485-.356-.892 0-.282.016-.364.102-.529.325-.626 1.034-.88 1.652-.59ZM7.092 10.64c.787.524 1.295.743 1.741.743h.227l.141.302c.114.23.212.368.435.583l.293.286-.395.336c-1.033.88-1.331 1.03-1.71.853-.376-.172-.94-.916-1.187-1.557-.226-.583-.406-1.625-.332-1.918l.027-.102.184.106c.102.058.36.223.576.368Zm6.85.489c.657.242 1.099.47 1.208.618.098.133.13.536.063.803-.059.238-.305.767-.481 1.033-.325.485-.87 1.017-1.398 1.366-.45.297-.446.305-.403-.407.067-1.245.016-1.742-.219-2.16l-.113-.2.098-.114c.16-.192.367-.661.414-.94l.043-.258.122.028c.062.012.364.117.665.23Z' class="fill")
                  path(d='M10.665 5.394c-.29.05-.618.156-.83.262-.273.137-.59.454-.716.712-.106.212-.11.243-.106.807.004.59.079 1.107.29 2.004l.074.316-.148.294a2.48 2.48 0 0 0-.2.513c-.05.254-.117.293-.395.219-.25-.067-.537-.223-1.151-.622-.618-.403-.88-.545-1.088-.58-.665-.105-1.03.595-.888 1.71.156 1.269.657 2.357 1.405 3.066.607.57 1.233.704 1.851.395.383-.192 1.021-.685 1.738-1.347l.332-.301.282-.004c.243-.004.364-.023.728-.129.09-.027.231.223.262.458.012.121.012.638-.003 1.15-.024.787-.02.963.035 1.143.262.908 1.417.615 2.673-.68.572-.592.912-1.136 1.155-1.844.105-.31.125-.415.125-.752 0-.489-.09-.747-.372-1.052-.297-.325-.947-.634-2.156-1.022l-.575-.184-.122-.211a2.411 2.411 0 0 0-.337-.43l-.223-.224.07-.133c.11-.2.463-.442 1.128-.779 1.002-.505 1.26-.716 1.307-1.068.066-.49-.536-1.041-1.515-1.393-.661-.235-1.03-.302-1.761-.314-.376-.007-.767 0-.869.02Zm1.808.912c.642.168 1.394.5 1.437.638.008.023-.282.196-.646.383-.36.188-.771.411-.912.501-.321.212-.626.513-.724.724l-.074.16-.321-.019a2.158 2.158 0 0 0-.971.145l-.168.07-.106-.532c-.149-.767-.204-1.366-.145-1.565.086-.278.442-.501.959-.595.372-.067 1.257-.02 1.671.09Zm-.884 3.33c.258.118.477.341.607.611.137.294.145.755.011 1.022-.223.454-.587.7-1.076.732a1.137 1.137 0 0 1-.94-.353c-.277-.278-.36-.485-.356-.892 0-.282.016-.364.102-.529.325-.626 1.034-.88 1.652-.59ZM7.092 10.64c.787.524 1.295.743 1.741.743h.227l.141.302c.114.23.212.368.435.583l.293.286-.395.336c-1.033.88-1.331 1.03-1.71.853-.376-.172-.94-.916-1.187-1.557-.226-.583-.406-1.625-.332-1.918l.027-.102.184.106c.102.058.36.223.576.368Zm6.85.489c.657.242 1.099.47 1.208.618.098.133.13.536.063.803-.059.238-.305.767-.481 1.033-.325.485-.87 1.017-1.398 1.366-.45.297-.446.305-.403-.407.067-1.245.016-1.742-.219-2.16l-.113-.2.098-.114c.16-.192.367-.661.414-.94l.043-.258.122.028c.062.012.364.117.665.23Z' class="fill")
                  path(d='M10.665 5.394c-.29.05-.618.156-.83.262-.273.137-.59.454-.716.712-.106.212-.11.243-.106.807.004.59.079 1.107.29 2.004l.074.316-.148.294a2.48 2.48 0 0 0-.2.513c-.05.254-.117.293-.395.219-.25-.067-.537-.223-1.151-.622-.618-.403-.88-.545-1.088-.58-.665-.105-1.03.595-.888 1.71.156 1.269.657 2.357 1.405 3.066.607.57 1.233.704 1.851.395.383-.192 1.021-.685 1.738-1.347l.332-.301.282-.004c.243-.004.364-.023.728-.129.09-.027.231.223.262.458.012.121.012.638-.003 1.15-.024.787-.02.963.035 1.143.262.908 1.417.615 2.673-.68.572-.592.912-1.136 1.155-1.844.105-.31.125-.415.125-.752 0-.489-.09-.747-.372-1.052-.297-.325-.947-.634-2.156-1.022l-.575-.184-.122-.211a2.411 2.411 0 0 0-.337-.43l-.223-.224.07-.133c.11-.2.463-.442 1.128-.779 1.002-.505 1.26-.716 1.307-1.068.066-.49-.536-1.041-1.515-1.393-.661-.235-1.03-.302-1.761-.314-.376-.007-.767 0-.869.02Zm1.808.912c.642.168 1.394.5 1.437.638.008.023-.282.196-.646.383-.36.188-.771.411-.912.501-.321.212-.626.513-.724.724l-.074.16-.321-.019a2.158 2.158 0 0 0-.971.145l-.168.07-.106-.532c-.149-.767-.204-1.366-.145-1.565.086-.278.442-.501.959-.595.372-.067 1.257-.02 1.671.09Zm-.884 3.33c.258.118.477.341.607.611.137.294.145.755.011 1.022-.223.454-.587.7-1.076.732a1.137 1.137 0 0 1-.94-.353c-.277-.278-.36-.485-.356-.892 0-.282.016-.364.102-.529.325-.626 1.034-.88 1.652-.59ZM7.092 10.64c.787.524 1.295.743 1.741.743h.227l.141.302c.114.23.212.368.435.583l.293.286-.395.336c-1.033.88-1.331 1.03-1.71.853-.376-.172-.94-.916-1.187-1.557-.226-.583-.406-1.625-.332-1.918l.027-.102.184.106c.102.058.36.223.576.368Zm6.85.489c.657.242 1.099.47 1.208.618.098.133.13.536.063.803-.059.238-.305.767-.481 1.033-.325.485-.87 1.017-1.398 1.366-.45.297-.446.305-.403-.407.067-1.245.016-1.742-.219-2.16l-.113-.2.098-.114c.16-.192.367-.661.414-.94l.043-.258.122.028c.062.012.364.117.665.23Z' class="stroke" stroke-width='.3')
                  path(d='M10.665 5.394c-.29.05-.618.156-.83.262-.273.137-.59.454-.716.712-.106.212-.11.243-.106.807.004.59.079 1.107.29 2.004l.074.316-.148.294a2.48 2.48 0 0 0-.2.513c-.05.254-.117.293-.395.219-.25-.067-.537-.223-1.151-.622-.618-.403-.88-.545-1.088-.58-.665-.105-1.03.595-.888 1.71.156 1.269.657 2.357 1.405 3.066.607.57 1.233.704 1.851.395.383-.192 1.021-.685 1.738-1.347l.332-.301.282-.004c.243-.004.364-.023.728-.129.09-.027.231.223.262.458.012.121.012.638-.003 1.15-.024.787-.02.963.035 1.143.262.908 1.417.615 2.673-.68.572-.592.912-1.136 1.155-1.844.105-.31.125-.415.125-.752 0-.489-.09-.747-.372-1.052-.297-.325-.947-.634-2.156-1.022l-.575-.184-.122-.211a2.411 2.411 0 0 0-.337-.43l-.223-.224.07-.133c.11-.2.463-.442 1.128-.779 1.002-.505 1.26-.716 1.307-1.068.066-.49-.536-1.041-1.515-1.393-.661-.235-1.03-.302-1.761-.314-.376-.007-.767 0-.869.02Zm1.808.912c.642.168 1.394.5 1.437.638.008.023-.282.196-.646.383-.36.188-.771.411-.912.501-.321.212-.626.513-.724.724l-.074.16-.321-.019a2.158 2.158 0 0 0-.971.145l-.168.07-.106-.532c-.149-.767-.204-1.366-.145-1.565.086-.278.442-.501.959-.595.372-.067 1.257-.02 1.671.09Zm-.884 3.33c.258.118.477.341.607.611.137.294.145.755.011 1.022-.223.454-.587.7-1.076.732a1.137 1.137 0 0 1-.94-.353c-.277-.278-.36-.485-.356-.892 0-.282.016-.364.102-.529.325-.626 1.034-.88 1.652-.59ZM7.092 10.64c.787.524 1.295.743 1.741.743h.227l.141.302c.114.23.212.368.435.583l.293.286-.395.336c-1.033.88-1.331 1.03-1.71.853-.376-.172-.94-.916-1.187-1.557-.226-.583-.406-1.625-.332-1.918l.027-.102.184.106c.102.058.36.223.576.368Zm6.85.489c.657.242 1.099.47 1.208.618.098.133.13.536.063.803-.059.238-.305.767-.481 1.033-.325.485-.87 1.017-1.398 1.366-.45.297-.446.305-.403-.407.067-1.245.016-1.742-.219-2.16l-.113-.2.098-.114c.16-.192.367-.661.414-.94l.043-.258.122.028c.062.012.364.117.665.23Z' class="stroke" stroke-width='.3')
                span Выносное
              +e.BUTTON.btn
                svg(width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M5.353 15.462c.31 0 .56.251.56.56v.56a.56.56 0 1 1-1.12 0v-.56c0-.309.25-.56.56-.56ZM9.835 16.022a.56.56 0 0 0-1.12 0v.56a.56.56 0 1 0 1.12 0v-.56ZM7.314 15.462c.31 0 .56.251.56.56v.56a.56.56 0 1 1-1.12 0v-.56c0-.309.25-.56.56-.56ZM11.796 16.022a.56.56 0 1 0-1.12 0v.56a.56.56 0 1 0 1.12 0v-.56Z' class="fill")
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M3 18.263c0 .372.301.673.672.673h.56v.504a.56.56 0 0 0 1.12 0v-.504h9.86v.504a.56.56 0 1 0 1.121 0v-.504h.617a.672.672 0 0 0 .672-.673v-3.977c0-.372-.301-.673-.672-.673h-.46c-.08-3.516-.67-6.652-2.93-9.691C12.215 2.112 10.486.61 9.93.148A.644.644 0 0 0 9.517 0H3.392A.392.392 0 0 0 3 .392v17.871Zm8.851-8.039a.56.56 0 1 0 0-1.12h-7.73V5.742h5.322a.56.56 0 0 0 0-1.12H4.12V1.12h5.226c.639.544 2.142 1.892 3.315 3.47 2.028 2.727 2.609 5.544 2.705 8.855H4.12v-3.22h7.731Zm-7.73 4.51H16.5v3.081H4.121v-3.081Z' class="fill")
                span Встроенное
          +b.select-size
            +e.P.title Размеры 
              span высота x ширина x глубина, см
            select(name="size")
              option(value="225 x 65 x 40-30-30-30-30") 225 x 65 x 40-30-30-30-30
              option(value="225 x 65 x 40-30-30-30-30") 225 x 65 x 40-30-30-30-30
              option(value="225 x 65 x 40-30-30-30-30") 225 x 65 x 40-30-30-30-30
              option(value="225 x 65 x 40-30-30-30-30") 225 x 65 x 40-30-30-30-30
              option(value="225 x 65 x 40-30-30-30-30") 225 x 65 x 40-30-30-30-30
          +e.A.call.js-open-modal(href="#call") Заказать изготовление по индивидуальным размерам
        +form-eq('white-box mt')