include ../callback/callback-card
include ../callback/form-equipment
+b.product-main
  +e.inner.inner
    +e.pictures
      +e.slider-main
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-main(src='/img/product--slide-1.png' alt='')
      +e.slider-thumb
        +e.IMG.slide-thumb(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-thumb(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-thumb(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-thumb(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-thumb(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-thumb(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-thumb(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-thumb(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-thumb(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-thumb(src='/img/product--slide-1.png' alt='')
        +e.IMG.slide-thumb(src='/img/product--slide-1.png' alt='')
    +e.content
      +e.H1.title Овощной стеллаж с зеркальным фризом и подсветкой полок
      +e.P.art Артикул: ПС001
      +e.prices
        +e.new-price 3 924 руб.
        +e.old-price 25 851
      +e.A.mgcall(href="#") Оптовые цены уточняйте у менеджеров
      +e.A.clrs-popup.js-open-modal(href="#color") Любые цвета
      +e.control
        +e.A.calc.btn_orange.js-open-modal(href="#addparam") Рассчитать стоимость?
        +e.BUTTON.add.btn-outline_green В корзину
        +b.number
          +e.btn_minus
            svg(width='10' height='18' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M9.69.468c.455.57.403 1.436-.117 1.935L3.148 8.571l6.425 6.169c.52.498.572 1.365.118 1.935-.455.57-1.245.627-1.764.128l-7.5-7.2A1.432 1.432 0 0 1 0 8.571C0 8.176.156 7.8.427 7.54l7.5-7.2c.52-.5 1.309-.442 1.764.128Z' fill='#020F19')
          +e.INPUT.field(type="text" value="1")
          +e.btn_plus
            svg(width='10' height='18' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M.31 17.532c-.455-.57-.403-1.436.117-1.935l6.425-6.168L.427 3.26c-.52-.498-.572-1.365-.118-1.935.455-.57 1.245-.627 1.764-.128l7.5 7.2c.271.26.427.636.427 1.032 0 .395-.156.771-.427 1.031l-7.5 7.2c-.52.5-1.309.442-1.764-.128Z' fill='#020F19')
      +b.select-size
        +e.P.title Размеры 
          span высота x ширина x глубина, см
        select(name="size")
          option(value="225 x 65 x 40-30-30-30-30") 225 x 65 x 40-30-30-30-30
          option(value="225 x 65 x 40-30-30-30-30") 225 x 65 x 40-30-30-30-30
          option(value="225 x 65 x 40-30-30-30-30") 225 x 65 x 40-30-30-30-30
          option(value="225 x 65 x 40-30-30-30-30") 225 x 65 x 40-30-30-30-30
          option(value="225 x 65 x 40-30-30-30-30") 225 x 65 x 40-30-30-30-30
      +b.colrs
        +e.P.title Основной цвет RAL: 
          span 1000
        +e.list
          +e.BUTTON.btn.active(data-color="1000")
            +e.IMG.pic(src='/img/color-main-1.png' alt='')
          +e.BUTTON.btn(data-color="2000")
            +e.IMG.pic(src='/img/color-main-2.png' alt='')
          +e.BUTTON.btn(data-color="3000")
            +e.IMG.pic(src='/img/color-main-3.png' alt='')
          +e.A.more.js-open-modal(href="#color")
            +e.IMG.more-pic(src='/icon/icon-plus.svg' alt='')
      +b.colrs
        +e.P.title Цвет отделки: 
          span H1424 ST22
        +e.list
          +e.BUTTON.btn.active(data-color="H1424 ST22")
            +e.IMG.pic(src='/img/color-finish-1.png' alt='')
          +e.BUTTON.btn(data-color=" H1424 ST30")
            +e.IMG.pic(src='/img/color-finish-2.png' alt='')
          +e.BUTTON.btn(data-color=" H1424 ST40")
            +e.IMG.pic(src='/img/color-finish-3.png' alt='')
          +e.A.more.js-open-modal(href="#color")
            +e.IMG.more-pic(src='/icon/icon-plus.svg' alt='')
      +e.A.call.js-open-modal(href="#calculation") Заказать изготовление по индивидуальным размерам

+b.product-info
  +e.inner.inner
    +e.left
      +e.line
        +e.H2.title Описание
        +e.text
          p ЦЕНЫ УКАЗАНЫ ЗА СТЕЛЛАЖ С ОДНОЙ СТОЙКОЙ ДЛЯ УСТАНОВКИ В РЯД, БЕЗ ЦОКОЛЯ, ОГРАНИЧИТЕЛЕЙ И ЦЕННИКОДЕРЖАТЕЛЕЙ
          p Используется для выкладки продуктов питания и непродовольственных товаров. Фриз стеллажа пристенного можно использовать для размещения бренда продукции, рекламы товара, важной информации.
          .hidden
            p В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. А также непосредственные участники технического прогресса будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но разбавленное изрядной долей эмпатии, рациональное мышление предопределяет высокую востребованность модели развития... 
          a(href="#" class="toogle-more bold") Показать еще
      +e.line
        +e.H2.title Характеристики
        +e.P.sign Покраска в любой цвет и комбинации цветов
        +e.UL.list
          +e.LI.item
            p Вид стеллажа
            p Пристенный
          +e.LI.item
            p Материал стеллажа
            p Сталь
          +e.LI.item
            p Толщина стали
            p Полки, стенки -0.8 мм, стойки 2.5 мм
          +e.LI.item
            p Нагрузка на стеллаж
            p До 900 кг (зависит от комплектации)
        +e.BUTTON.more Показать еще
      +e.line_desck
        +e.H2.title Все размеры подетально
        +e.TABLE.table
          thead
            tr
              th Наименование параметра
              th Ширина, мм
              th Глубина, мм
              th Высота, мм
          tbody
            tr
              td СК 065
              td 656
              td 300-800
              td 1100-2900
            tr
              td СК 080
              td 806
              td 300-800
              td 1100-2900
            tr
              td СК 100
              td 1006
              td 300-800
              td 1100-2900
            tr
              td СК 125
              td 1261
              td 300-800
              td 1100-2900
            tr
              td СК 132
              td 1326
              td 300-800
              td 1100-2900
        +e.hidden
          +e.line
            +e.H3.caption.text-center Габаритные размеры
            +e.IMG.scheme(src='/img/scheme-1.jpg' alt='')
          +e.line
            +e.H3.caption.text-center Допустимые нагрузки на полку и стеллаж
            +e.IMG.scheme(src='/img/scheme-1.jpg' alt='')
        +e.BUTTON.rollup.btn-outline_green Показать все размеры
        +call_card('Замер')
        include ../hall/hall
    +e.right
      +form-eq('sticky')