+b.review.section
  +e.inner.inner
    +e.H2.title Клиенты о нас
    +e.P.sign.sign-box Вы можете узнать о нас подробнее или оставить свой отзыв на любой открытой площадке. Нам нечего скрывать от наших клиентов. Мы за честные отзывы. 
    +e.list
      +e.item
        +e.P.caption Google
        +e.wrap
          +e.qr
            +e.IMG.qr-pic(src='/img/qr-1.png' alt='')
          +e.info
            +e.rating
              +e.SPAN.count 4,5
              +e.SVG.stars(width='150' height='30' viewBox='0 0 150 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M13.1896 3.85675C13.9094 2.32324 16.0906 2.32324 16.8104 3.85675L19.182 8.90884C19.4652 9.51199 20.0301 9.93454 20.6886 10.0358L26.1554 10.876C27.7639 11.1232 28.4195 13.0856 27.2826 14.25L23.2055 18.4257C22.7618 18.8801 22.5603 19.5182 22.6626 20.1449L23.6069 25.9344C23.8756 27.5822 22.1262 28.8145 20.6651 28.0065L15.9678 25.409C15.3656 25.076 14.6344 25.076 14.0322 25.409L9.3349 28.0065C7.87377 28.8145 6.12436 27.5822 6.39314 25.9344L7.33744 20.1449C7.43967 19.5182 7.23817 18.8801 6.79453 18.4257L2.71739 14.25C1.58048 13.0856 2.23608 11.1232 3.84457 10.876L9.31136 10.0358C9.96993 9.93454 10.5348 9.51199 10.818 8.90884L13.1896 3.85675Z' class="active")
                path(d='M43.1896 3.85675C43.9094 2.32324 46.0906 2.32324 46.8104 3.85675L49.182 8.90884C49.4652 9.51199 50.0301 9.93454 50.6886 10.0358L56.1554 10.876C57.7639 11.1232 58.4195 13.0856 57.2826 14.25L53.2055 18.4257C52.7618 18.8801 52.5603 19.5182 52.6626 20.1449L53.6069 25.9344C53.8756 27.5822 52.1262 28.8145 50.6651 28.0065L45.9678 25.409C45.3656 25.076 44.6344 25.076 44.0322 25.409L39.3349 28.0065C37.8738 28.8145 36.1244 27.5822 36.3931 25.9344L37.3374 20.1449C37.4397 19.5182 37.2382 18.8801 36.7945 18.4257L32.7174 14.25C31.5805 13.0856 32.2361 11.1232 33.8446 10.876L39.3114 10.0358C39.9699 9.93454 40.5348 9.51199 40.818 8.90884L43.1896 3.85675Z' class="active")
                path(d='M73.1896 3.85675C73.9094 2.32324 76.0906 2.32324 76.8104 3.85675L79.182 8.90884C79.4652 9.51199 80.0301 9.93454 80.6886 10.0358L86.1554 10.876C87.7639 11.1232 88.4195 13.0856 87.2826 14.25L83.2055 18.4257C82.7618 18.8801 82.5603 19.5182 82.6626 20.1449L83.6069 25.9344C83.8756 27.5822 82.1262 28.8145 80.6651 28.0065L75.9678 25.409C75.3656 25.076 74.6344 25.076 74.0322 25.409L69.3349 28.0065C67.8738 28.8145 66.1244 27.5822 66.3931 25.9344L67.3374 20.1449C67.4397 19.5182 67.2382 18.8801 66.7945 18.4257L62.7174 14.25C61.5805 13.0856 62.2361 11.1232 63.8446 10.876L69.3114 10.0358C69.9699 9.93454 70.5348 9.51199 70.818 8.90884L73.1896 3.85675Z' class="active")
                path(d='M103.19 3.85675C103.909 2.32324 106.091 2.32324 106.81 3.85675L109.182 8.90884C109.465 9.51199 110.03 9.93454 110.689 10.0358L116.155 10.876C117.764 11.1232 118.42 13.0856 117.283 14.25L113.205 18.4257C112.762 18.8801 112.56 19.5182 112.663 20.1449L113.607 25.9344C113.876 27.5822 112.126 28.8145 110.665 28.0065L105.968 25.409C105.366 25.076 104.634 25.076 104.032 25.409L99.3349 28.0065C97.8738 28.8145 96.1244 27.5822 96.3931 25.9344L97.3374 20.1449C97.4397 19.5182 97.2382 18.8801 96.7945 18.4257L92.7174 14.25C91.5805 13.0856 92.2361 11.1232 93.8446 10.876L99.3114 10.0358C99.9699 9.93454 100.535 9.51199 100.818 8.90884L103.19 3.85675Z' class="active")
                path(d='M133.19 3.85675C133.909 2.32324 136.091 2.32324 136.81 3.85675L139.182 8.90884C139.465 9.51199 140.03 9.93454 140.689 10.0358L146.155 10.876C147.764 11.1232 148.42 13.0856 147.283 14.25L143.205 18.4257C142.762 18.8801 142.56 19.5182 142.663 20.1449L143.607 25.9344C143.876 27.5822 142.126 28.8145 140.665 28.0065L135.968 25.409C135.366 25.076 134.634 25.076 134.032 25.409L129.335 28.0065C127.874 28.8145 126.124 27.5822 126.393 25.9344L127.337 20.1449C127.44 19.5182 127.238 18.8801 126.795 18.4257L122.717 14.25C121.58 13.0856 122.236 11.1232 123.845 10.876L129.311 10.0358C129.97 9.93454 130.535 9.51199 130.818 8.90884L133.19 3.85675Z')
            +e.sign 4 отзывов
            +e.text
              +e.P.txt “Заказ получили вовремя. Цена умеренная...”
              +e.IMG.pic(src='/img/review-0.png' alt='')
            +e.A.more.btn_green Читать отзывы
      +e.item
        +e.P.caption Яндекс
        +e.wrap
          +e.qr
            +e.IMG.qr-pic(src='/img/qr-2.png' alt='')
          +e.info
            +e.rating
              +e.SPAN.count 4,3
              +e.SVG.stars(width='150' height='30' viewBox='0 0 150 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M13.1896 3.85675C13.9094 2.32324 16.0906 2.32324 16.8104 3.85675L19.182 8.90884C19.4652 9.51199 20.0301 9.93454 20.6886 10.0358L26.1554 10.876C27.7639 11.1232 28.4195 13.0856 27.2826 14.25L23.2055 18.4257C22.7618 18.8801 22.5603 19.5182 22.6626 20.1449L23.6069 25.9344C23.8756 27.5822 22.1262 28.8145 20.6651 28.0065L15.9678 25.409C15.3656 25.076 14.6344 25.076 14.0322 25.409L9.3349 28.0065C7.87377 28.8145 6.12436 27.5822 6.39314 25.9344L7.33744 20.1449C7.43967 19.5182 7.23817 18.8801 6.79453 18.4257L2.71739 14.25C1.58048 13.0856 2.23608 11.1232 3.84457 10.876L9.31136 10.0358C9.96993 9.93454 10.5348 9.51199 10.818 8.90884L13.1896 3.85675Z' class="active")
                path(d='M43.1896 3.85675C43.9094 2.32324 46.0906 2.32324 46.8104 3.85675L49.182 8.90884C49.4652 9.51199 50.0301 9.93454 50.6886 10.0358L56.1554 10.876C57.7639 11.1232 58.4195 13.0856 57.2826 14.25L53.2055 18.4257C52.7618 18.8801 52.5603 19.5182 52.6626 20.1449L53.6069 25.9344C53.8756 27.5822 52.1262 28.8145 50.6651 28.0065L45.9678 25.409C45.3656 25.076 44.6344 25.076 44.0322 25.409L39.3349 28.0065C37.8738 28.8145 36.1244 27.5822 36.3931 25.9344L37.3374 20.1449C37.4397 19.5182 37.2382 18.8801 36.7945 18.4257L32.7174 14.25C31.5805 13.0856 32.2361 11.1232 33.8446 10.876L39.3114 10.0358C39.9699 9.93454 40.5348 9.51199 40.818 8.90884L43.1896 3.85675Z' class="active")
                path(d='M73.1896 3.85675C73.9094 2.32324 76.0906 2.32324 76.8104 3.85675L79.182 8.90884C79.4652 9.51199 80.0301 9.93454 80.6886 10.0358L86.1554 10.876C87.7639 11.1232 88.4195 13.0856 87.2826 14.25L83.2055 18.4257C82.7618 18.8801 82.5603 19.5182 82.6626 20.1449L83.6069 25.9344C83.8756 27.5822 82.1262 28.8145 80.6651 28.0065L75.9678 25.409C75.3656 25.076 74.6344 25.076 74.0322 25.409L69.3349 28.0065C67.8738 28.8145 66.1244 27.5822 66.3931 25.9344L67.3374 20.1449C67.4397 19.5182 67.2382 18.8801 66.7945 18.4257L62.7174 14.25C61.5805 13.0856 62.2361 11.1232 63.8446 10.876L69.3114 10.0358C69.9699 9.93454 70.5348 9.51199 70.818 8.90884L73.1896 3.85675Z' class="active")
                path(d='M103.19 3.85675C103.909 2.32324 106.091 2.32324 106.81 3.85675L109.182 8.90884C109.465 9.51199 110.03 9.93454 110.689 10.0358L116.155 10.876C117.764 11.1232 118.42 13.0856 117.283 14.25L113.205 18.4257C112.762 18.8801 112.56 19.5182 112.663 20.1449L113.607 25.9344C113.876 27.5822 112.126 28.8145 110.665 28.0065L105.968 25.409C105.366 25.076 104.634 25.076 104.032 25.409L99.3349 28.0065C97.8738 28.8145 96.1244 27.5822 96.3931 25.9344L97.3374 20.1449C97.4397 19.5182 97.2382 18.8801 96.7945 18.4257L92.7174 14.25C91.5805 13.0856 92.2361 11.1232 93.8446 10.876L99.3114 10.0358C99.9699 9.93454 100.535 9.51199 100.818 8.90884L103.19 3.85675Z' class="active")
                path(d='M133.19 3.85675C133.909 2.32324 136.091 2.32324 136.81 3.85675L139.182 8.90884C139.465 9.51199 140.03 9.93454 140.689 10.0358L146.155 10.876C147.764 11.1232 148.42 13.0856 147.283 14.25L143.205 18.4257C142.762 18.8801 142.56 19.5182 142.663 20.1449L143.607 25.9344C143.876 27.5822 142.126 28.8145 140.665 28.0065L135.968 25.409C135.366 25.076 134.634 25.076 134.032 25.409L129.335 28.0065C127.874 28.8145 126.124 27.5822 126.393 25.9344L127.337 20.1449C127.44 19.5182 127.238 18.8801 126.795 18.4257L122.717 14.25C121.58 13.0856 122.236 11.1232 123.845 10.876L129.311 10.0358C129.97 9.93454 130.535 9.51199 130.818 8.90884L133.19 3.85675Z')
            +e.sign 14 отзывов
            +e.text
              +e.P.txt “Работать с этой компанией было одно удовольствие...”
              +e.IMG.pic(src='/img/review-1.png' alt='')
            +e.A.more.btn_green Читать отзывы