mixin banner(state)
  if state == '1'
    +b.banner-copeq(style="background-image: url(../img/banner-copeq-1.png)")
      +e.inner.inner
        +e.content
          +e.H1.title
            span Комплексное оснащение 
            | предприятий торговли и общественного питания
          +e.txt Завод-производитель предлагает оснащение торговых предприятий и заведений общепита по заводским ценам под ключ. Мы предлагаем комплексные решения для создания эффективного предприятия торговли и общепита.
          +e.list
            +e.item
              +e.IMG.icon(src='/icon/copeq-banner-icon-1.svg' alt='')
              +e.P.caption Работаем без посредников
            +e.item
              +e.IMG.icon(src='/icon/copeq-banner-icon-2.svg' alt='')
              +e.P.caption Собственное производство
            +e.item
              +e.IMG.icon(src='/icon/copeq-banner-icon-3.svg' alt='')
              +e.P.caption Бесплатный план расстановки
          +e.A.call.btn_green.js-open-modal(href='#callback') Отправить заявку
        +e.callback
          +e.FORM.action
            +e.P.holder Расчет стоимости
            +e.INPUT.field.place(type="text" placeholder="Вас интересует:")
            +e.INPUT.field.name(type="text" placeholder="Имя")
            +e.INPUT.field.phone(type="tel" placeholder="Ваш контактный телефон")
            +e.TEXTAREA.field.mess(placeholder="Комментарий к заказу")
            +e.BUTTON.btn.btn_green Отправить заявку
            +e.checkbox
              +e.LABEL.toggl.toggl__
                +e.INPUT.hidden(type="checkbox" checked)
                +e.SPAN.box
              +e.P.checkbox-name Нажимая на кнопку, вы принимаете условия 
                a(href="#")  передачи данных
  if state == '2'
    +b.banner-copeq(style="background-image: url(../img/banner-copeq-2.png)")
      +e.inner.inner
        +e.content
          +e.H1.title Оснащение магазина продуктов
          +e.txt Завод-производитель предлагает оснащение торговых предприятий и заведений общепита по заводским ценам под ключ. Мы предлагаем комплексные решения для создания эффективного предприятия торговли и общепита.
          +e.list
            +e.item
              +e.IMG.icon(src='/icon/copeq-banner-icon-1.svg' alt='')
              +e.P.caption Работаем без посредников
            +e.item
              +e.IMG.icon(src='/icon/copeq-banner-icon-2.svg' alt='')
              +e.P.caption Собственное производство
            +e.item
              +e.IMG.icon(src='/icon/copeq-banner-icon-3.svg' alt='')
              +e.P.caption Бесплатный план расстановки
          +e.A.call.btn_green.js-open-modal(href='#callback') Отправить заявку
        +e.callback
          +e.FORM.action
            +e.P.holder Расчет стоимости
            +e.INPUT.field.place(type="text" placeholder="Вас интересует:")
            +e.INPUT.field.name(type="text" placeholder="Имя")
            +e.INPUT.field.phone(type="tel" placeholder="Ваш контактный телефон")
            +e.TEXTAREA.field.mess(placeholder="Комментарий к заказу")
            +e.BUTTON.btn.btn_green Отправить заявку
            +e.checkbox
              +e.LABEL.toggl.toggl__
                +e.INPUT.hidden(type="checkbox" checked)
                +e.SPAN.box
              +e.P.checkbox-name Нажимая на кнопку, вы принимаете условия 
                a(href="#")  передачи данных