+b.eqrest.section
  +e.inner.inner
    +e.H2.title Комплексное оснащение для ресторанов
    +e.P.sign.sign-box Завод-производитель предлагает комплексное оснащение ресторанов и кафе по заводским ценам под ключ. Выполняем проектирование и предлагаем вам подробно ознакомиться с нашими готовыми решениями, а также предоставляем информацию, которая поможет вам, если вы задумались над созданием собственного готового ресторана или кафе.
    +e.list
      each item, idx in ["Ресторан", "Пекарня", "Бар", "Кофейня", "Кофе корнер", "Бистро", "Кулинария", "Фудкорт", "Столовая", "Ресторан быстрого питания", "Возьми с собой", "Смотреть все рестораны"]
        if idx === 11
          +e.A.item_more(href="#")
            +e.P.caption=item
        else if idx === 10
          +e.A.item(href="#")
            +e.IMG.pic(src='/img/complect-10.png' alt="Возьми с собой")
            +e.P.caption Возьми 
              br
              | с собой
        else
          +e.A.item(href="#")
            +e.IMG.pic(src='/img/complect-'+ idx +'.png' alt=item)
            +e.P.caption=item
    +e.A.more.btn_green(data-res) Смотреть все рестораны