+b.banner
  - for(var i = 0; i < 6; i++ ){
    +e.slide
      +e.info
        +e.P.title.display-2 Металлические торговые
          br
          | стеллажи от производителя
        +e.P.sign Производим торговые стеллажи под любой вид деятельности
        +e.line
          +e.list
            +e.item Толщина
              br
              | металла от 0,8мм
            +e.item Максимальная
              br
              | нагрузка 900 кг
            +e.item Сроки поставки
              br
              | от 2 недель
            +e.item Любая комплетация,
              br
              | размер и цвет
          +e.IMG.pic(src='/img/banner-1.png' alt='')
        +e.control
          +e.A.btn.btn_green(href="#") Серийные изделия
          +e.A.btn.btn-outline_green(href="#") Изделия на заказ
  -}