.clients
  background: $c3
  padding: 7rem 0
  &__list
    display: grid
    grid-template-columns: repeat(6, 15%)
    grid-auto-rows: 128px
    grid-gap: 30px
    justify-content: space-between
  &__item
    background: $c2
    display: flex
    justify-content: center
    align-items: center
  &__pic
    vertical-align: middle
    max-width: 100%
    border-radius: 15px
  &__control
    display: flex
    justify-content: center
    margin-top: 3rem