+b.clients.section
  +e.inner.inner
    +e.H2.title Наши клиенты
    +e.P.sign.sign-box В целом, конечно, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации инновационных методов управления процессами.
    +e.overflow
      +e.list
        - for(var i = 0; i < 12; i++){
          +e.A.item(href="#")
            +e.IMG.pic(src='/img/client-'+ i +'.png' alt='')
        -}
      +e.control
        +e.BUTTON.btn.btn_green Показать еще