mixin header()
  +b.header
    +e.inner.inner
      +e.top
        +e.left
          +e.A.map(href="#") г. Москва, ул. Нижняя Первомайская, д. 43а, офис 1
          +e.time Пн – Пт 
            span
            | 09:00 – 20:00
        +e.right
          +e.A.mail(href="mailto:order+168830@evro-market.ru") order+168830@evro-market.ru
      +e.middle
        +e.A.logo(href="#")
          svg(width='140' height='35' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(class="logo-txt" fill-rule='evenodd' clip-rule='evenodd' d='M63.705 12.354v-1.612h2.967c.79 0 1.08.313 1.08.81 0 .565-.29.8-1.08.8h-2.967v.002Zm0-5.28h2.584c.751 0 .962.24.962.735 0 .478-.21.732-.962.732h-2.584V7.073Zm9.005 4.894c0-1.082-.83-2.071-2.163-2.415.717-.24 1.563-1.25 1.563-2.164 0-1.872-1.116-2.77-4.05-2.77h-9.199v10.304h8.389c3.609-.001 5.46-.498 5.46-2.955Zm-22.855 12.15-2.048-5.358h-6.44v10.308h4.842v-3.873l-.62-4.048 2.896 7.92h2.739l2.89-7.92-.616 4.048v3.873h4.844V18.76H51.9l-2.045 5.358Zm77.183-5.358v3.266h4.053v7.042h4.86v-7.042H140V18.76h-12.962Zm-59.766 7.997c-1.14 0-1.776-.383-1.776-1.03 0-.64.562-.82 1.852-.933 1.294-.107 2.432-.072 3.414-.531.016.092.016.167.016.26 0 1.317-1.327 2.234-3.506 2.234Zm8.367-3.264c0-1.817-.252-2.97-1.483-3.889-1.005-.73-2.93-1.117-5.805-1.117-4.88 0-7.232.843-7.444 3.483h4.995c.136-.806.926-1.027 2.487-1.027 1.411 0 2.158.401 2.158.938 0 .842-1.58.621-4.974.842-2.335.147-3.99.254-4.996 1.445-.365.44-.578 1.081-.578 1.851 0 2.257 1.775 3.379 5.325 3.379 2.449 0 4.144-.44 5.454-1.747.021.517.119.993.311 1.416h5.032v-.228c-.386-.27-.482-.69-.482-1.37v-3.976Zm9.875 2.695c-1.468 0-2.487-.876-2.487-2.276 0-1.409 1.02-2.291 2.487-2.291 1.484 0 2.487.882 2.487 2.291-.001 1.4-1.003 2.276-2.487 2.276Zm1.618-7.701c-1.716 0-3.123.406-4.3 1.247l-.038-.99h-4.61v13.66h4.842v-4.182c1.195.752 2.487 1.1 4.029 1.1 3.702 0 6.038-2.128 6.038-5.41s-2.336-5.425-5.961-5.425Zm22.685.329h-6.458l-3.552 3.282v-3.282h-4.844v10.266h4.844v-2.325l2.14-1.67 2.584 3.98h5.787l-4.764-6.698 4.263-3.553Zm5.827 3.963c.249-1.174 1.327-1.798 3.043-1.798 1.603 0 2.587.657 2.721 1.798h-5.764Zm2.774-4.363c-4.993 0-7.716 2.051-7.716 5.496 0 3.446 2.723 5.502 7.716 5.502 4.497 0 7.156-1.225 7.868-3.482h-5.261c-.332.51-1.123.806-2.318.806-1.815 0-2.815-.661-2.815-1.759h10.493c.001-4.183-2.718-6.563-7.967-6.563ZM82.082 7.48c1.484 0 2.487.878 2.487 2.288 0 1.394-1.004 2.276-2.487 2.276-1.466 0-2.492-.882-2.492-2.276 0-1.41 1.025-2.288 2.492-2.288Zm-2.492 6.6c1.197.749 2.492 1.101 4.034 1.101 3.703 0 6.038-2.13 6.038-5.413 0-3.277-2.335-5.424-5.962-5.424-1.716 0-3.124.403-4.3 1.243l-.038-.988h-4.61V18.32h4.838V14.08ZM49.354 6.835c1.6 0 2.584.662 2.72 1.8h-5.768c.249-1.174 1.328-1.8 3.048-1.8Zm-.27 8.435c4.493 0 7.154-1.23 7.867-3.481h-5.265c-.33.514-1.12.804-2.316.804-1.811 0-2.816-.661-2.816-1.762H57.05c0-4.175-2.722-6.56-7.966-6.56-4.996 0-7.716 2.052-7.716 5.497 0 3.45 2.721 5.502 7.717 5.502Zm49.372-7.829c1.503 0 2.508.897 2.508 2.328 0 1.432-1.005 2.329-2.508 2.329-1.506 0-2.505-.897-2.505-2.329 0-1.43 1-2.328 2.505-2.328Zm.017 7.83c4.938 0 7.621-2.053 7.621-5.502 0-3.445-2.683-5.497-7.62-5.497-4.938 0-7.636 2.052-7.636 5.497 0 3.449 2.698 5.501 7.635 5.501Z' fill='#020F19')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M12.915 6.184h9.814c.76 0 1.38-.583 1.38-1.305V1.31c0-.725-.62-1.309-1.38-1.309h-9.814c-.76 0-1.378.584-1.378 1.308V4.88c0 .722.618 1.305 1.378 1.305ZM20.036 13.878v3.569c0 .724.619 1.312 1.378 1.312h10.425c.763 0 1.377-.588 1.377-1.312v-3.569c0-.725-.614-1.306-1.377-1.306H21.414c-.759 0-1.378.58-1.378 1.306ZM3.1 28.426h7.779c.762 0 1.379-.584 1.379-1.308V23.55c0-.725-.617-1.31-1.38-1.31H3.1c-.759 0-1.377.585-1.377 1.31v3.568c0 .725.618 1.308 1.377 1.308Z' fill='#ABB910')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M34.546 19.533H20.744a1.718 1.718 0 0 1-1.449-.808h-.276v8.835c0 .907.771 1.64 1.724 1.64h1.328v-4.492c0-.726.62-1.31 1.379-1.31h4.726c.762 0 1.378.584 1.378 1.31V29.2h4.99c.951 0 1.726-.733 1.726-1.64v-8.834h-.279c-.298.473-.82.807-1.445.807ZM13.227 29.2H1.722a1.72 1.72 0 0 1-1.46-.817H0v4.98C0 34.27.773 35 1.722 35h11.504c.952 0 1.725-.731 1.725-1.636v-4.98h-.266c-.299.479-.827.816-1.458.816Z' fill='#ABB910')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M25.123 11.795V6.153h-.273a1.706 1.706 0 0 1-1.451.805H10.567a1.709 1.709 0 0 1-1.447-.805h-.274v15.312h6.415c.951 0 1.722.73 1.722 1.637v2.231h1.02V13.431c0-.904.77-1.636 1.72-1.636h5.4Z' fill='#ABB910')
        +e.FORM.search
          +e.INPUT.field(type="search" placeholder="Поиск...")
        +e.control
          +e.A.phone(href="tel:+7 495 320 02 54") +7 495 320 02 54
          +e.A.phone(href="tel:8 800 302 32 14") 8 800 302 32 14
          +e.A.call.btn-outline_black.js-open-modal(href="#callback") Обратный звонок
          +b.basket-mini
            +e.info
              svg(width='25' height='26' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M5.955 1.583a1 1 0 0 0-.8.4L2.03 6.15a1 1 0 0 0-.2.6v14.583a3.083 3.083 0 0 0 3.084 3.084h14.583a3.083 3.083 0 0 0 3.083-3.084V6.75a1 1 0 0 0-.2-.6l-3.125-4.167a1 1 0 0 0-.8-.4h-12.5Z' fill='#020F19')
                path(d='M5.208 7.792h14.584M16.667 13a4.167 4.167 0 1 1-8.334 0' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              +e.count 0
            +e.P.total
              span 190 000 
              |руб.
      +e.nav
        +e.BUTTON.catalog.js-open-catalog
          svg(width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M4 15h22M4 7.5h22M4 22.5h22' stroke='#fff' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
          span Каталог
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#") Комплексное оснащение
          +e.LI.item
            +e.A.link(href="#") Производство
          +e.LI.item
            +e.A.link(href="#") Дилерам
          +e.LI.item
            +e.A.link(href="#") Портфолио
          +e.LI.item
            +e.A.link(href="#") О заводе
          +e.LI.item
            +e.A.link(href="#") Контакты