+b.header-mobile
  +e.inner.inner
    +e.left
      +e.BUTTON.cat.js-open-catalog
        span
        span
        span
      +e.A.logo(href="#")
        +e.IMG.pic(src='/icon/icon-logo.svg' alt='')
    +e.right
      +e.BUTTON.search
      +e.BUTTON.phone.js-open-popup
      +b.basket-mini
        +e.info
          svg(width='25' height='26' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M5.955 1.583a1 1 0 0 0-.8.4L2.03 6.15a1 1 0 0 0-.2.6v14.583a3.083 3.083 0 0 0 3.084 3.084h14.583a3.083 3.083 0 0 0 3.083-3.084V6.75a1 1 0 0 0-.2-.6l-3.125-4.167a1 1 0 0 0-.8-.4h-12.5Z' fill='#020F19')
            path(d='M5.208 7.792h14.584M16.667 13a4.167 4.167 0 1 1-8.334 0' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          +e.count 0