+b.footer
  +e.inner.inner
    +e.A.logo(href="/")
      +e.IMG.pic(src='/icon/icon-footer-logo.svg' alt='')
    +e.wrap
      +e.nav
        +e.col
          +e.P.cation Каталог
          +e.grid
            +e.item
              +e.A.link(href="#") Торговые стойки
            +e.item
              +e.A.link(href="#") Торговая мебель
            +e.item
              +e.A.link(href="#") Торговые стеллажи
            +e.item
              +e.A.link(href="#") Рециркуляторы
            +e.item
              +e.A.link(href="#") Оборудование для кассовых зон
            +e.item
              +e.A.link(href="#") Покупательские тележки
            +e.item
              +e.A.link(href="#") Другое оборудование для магазинов
            +e.item
              +e.A.link(href="#") Оборудование для ресторанов
            +e.item
              +e.A.link(href="#") Холодильное оборудование
            +e.item
              +e.A.link(href="#") Брендированное оборудование
        +e.col
          +e.P.cation О компании
          +e.list
            +e.item
              +e.A.link(href="#") О заводе
            +e.item
              +e.A.link(href="#") Доставка
            +e.item
              +e.A.link(href="#") Дилерам
            +e.item
              +e.A.link(href="#") Оснащение
            +e.item
              +e.A.link(href="#") Калькулятор
            +e.item
              +e.A.link(href="#") Статьи
        +e.col
          +e.P.cation Название раздела
          +e.list
            +e.item
              +e.A.link(href="#") Страница
            +e.item
              +e.A.link(href="#") Страница
            +e.item
              +e.A.link(href="#") Страница
            +e.item
              +e.A.link(href="#") Страница
            +e.item
              +e.A.link(href="#") Страница
            +e.item
              +e.A.link(href="#") Страница
        +e.col
          +e.P.cation Название раздела
          +e.list
            +e.item
              +e.A.link(href="#") Страница
            +e.item
              +e.A.link(href="#") Страница
            +e.item
              +e.A.link(href="#") Страница
            +e.item
              +e.A.link(href="#") Страница
            +e.item
              +e.A.link(href="#") Страница
            +e.item
              +e.A.link(href="#") Страница
      +e.P.sign Вся информация, размещенная на сайте, носит исключительно информационный характер и не является публичной офертой (ст.437 ГК РФ).
        br
        | Установочные размеры изделий указаны в техническом каталоге.
    +e.info
      +e.phone
        a(href="tel:+7 495 320 02 54") +7 495 320 02 54
        a(href="tel:8 800 302 32 14") 8 800 302 32 14
      +e.A.mail(href="mailto:order+168830@evro-market.ru") order+168830@evro-market.ru
      +e.A.map(href="#") г. Москва, ул. Нижняя Первомайская, д. 43а, офис 1
      +e.time Пн – Пт 
        span
        | 09:00 – 20:00
      +e.A.call.btn-outline_black.js-open-modal(href="#callback") Заказать обратный звонок

+b.copyright
  +e.inner.inner
    +e.P.title © ООО «Торговое Оборудование «Евромаркет», 2010 – 2022 
    +e.A.link(href="#") Политика конфиденциальности