+b.interest
  +e.inner.inner
    +e.H2.title Вас также может заинтересовать
    +e.list
      each item, idx in ["Торговая мебель", "Оборудование для ресторанов", "Рециркуляторы", "Покупательские тележки", "Брендированное оборудование",]
        +e.A.item(href="#")
          +e.IMG.pic_middle(src='/img/product-'+ (idx+5) +'.png' alt='')
          +e.P.caption=item
+b.popular-mini_nostyle._mb7
  +e.inner.inner
    +e.list
      +e.A.item(href="#")
        +e.top
          +e.IMG.pic(src='/img/popular-0.png' alt='')
        +e.bottom
          +e.prices
            +e.new-price 11 924 руб.
          +e.caption Развал для овощей и фруктов островной, удлиненный, в виде телеги
      +e.A.item_sale(href="#")
        +e.top
          +e.sale Скидка!
          +e.IMG.pic(src='/img/popular-1.png' alt='')
        +e.bottom
          +e.prices
            +e.new-price 3 924 руб.
            +e.old-price 25 851 
          +e.caption Покупательская тележка класса эконом
      +e.A.item(href="#")
        +e.top
          +e.best Бестселлер!
          +e.IMG.pic(src='/img/popular-2.png' alt='')
        +e.bottom
          +e.prices
            +e.new-price 5 924 руб.
          +e.caption Стеллаж для бензопил
      +e.A.item_sale(href="#")
        +e.top
          +e.best Бестселлер!
          +e.sale Скидка!
          +e.IMG.pic(src='/img/popular-3.png' alt='')
        +e.bottom
          +e.prices
            +e.new-price 11 924 руб.
            +e.old-price 25 851 
          +e.caption Подставка для облучателя ПОБ-02-1
      +e.A.item(href="#")
        +e.top
          +e.best Бестселлер!
          +e.IMG.pic(src='/img/popular-4.png' alt='')
        +e.bottom
          +e.prices
            +e.new-price 5 924 руб.
          +e.caption Стеллаж для бензопил
      +e.A.item(href="#")
        +e.top
          +e.best Бестселлер!
          +e.IMG.pic(src='/img/popular-4.png' alt='')
        +e.bottom
          +e.prices
            +e.new-price 5 924 руб.
          +e.caption Стеллаж для бензопил