.interest
  margin: 3rem 0
  &__title
    margin-bottom: 2rem
  &__list
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-gap: 1.55vw
    +screen('max', 1600)
      grid-auto-rows: calc(100vw / 5.5)
    +screen('max', 1023)
      grid-template-columns: repeat(3, 1fr)
      grid-auto-rows: calc(100vw / 4)
    +screen('max', 767)
      grid-template-columns: repeat(2, 1fr)
      grid-auto-rows: 200px
      grid-gap: 7vw 5vw
  &__item
    background: #F7F7F7
    border: 2px solid transparent
    border-radius: 30px
    box-sizing: border-box
    transition: .3s ease
    text-align: center
    padding: 2rem
    display: flex
    justify-content: space-between
    flex-flow: column
    position: relative
    +screen('max', 767)
      background: none
      border: none
      padding: 0
    &:hover
      border-color: $c4
    picture
      +screen('max', 767)
        background: #F7F7F7
        border: 2px solid transparent
        border-radius: 15px
        box-sizing: border-box
        padding: 25px
        display: block
  &__pic
    vertical-align: middle
    max-width: 208px
    +screen('max', 1500)
      max-width: 170px
    +screen('max', 1200)
      max-width: 100px
  &__caption
    +fs(20px)
    font-weight: 700
    line-height: 1.35
    margin-top: 0.6rem
    height: 54px
    display: flex
    justify-content: center
    align-items: center
    +screen('max', 1500)
      +fs(15px)
    +screen('max', 1200)
      +fs(16px)
    +screen('max', 767)
      margin-top: 1rem
      +fs(12px)